[2016-01-20 17:07] kozlac commented on #409
@sobolevnrm I ran 1JHG in the server and with the following options:

--with-ph=7.0 --ph-calc-method=propka --apbs-input --ff=parse --verbose --summary 1JHG 1JHG.pqr

and it completed. I am also attaching the pqr and propka outputs. Did you run it with different parameters?

[ISSUE409.zip](https://github.com/Electrostatics/apbs-pdb2pqr/files/97767/ISSUE409.zip)

[2016-01-20 18:42] kmonson commented on #409
The original run is using pdb2pka:

--with-ph=7.0 --ph-calc-method=pdb2pka --apbs-input --ff=parse --verbose
--summary 1JHG 1JHG.pqr

On Wed, Jan 20, 2016 at 9:07 AM, Juan <notifications@github.com> wrote:

[2016-01-21 05:38] arose commented on #400
Hi, worked a bit on the NGL side. There is now initial support for (1) reading the binary dxbin format and (2) mapping volume data onto surfaces. I haven't documented it but you can see an example in action and test it with your own data at http://arose.github.io/ngl/?plugin=apbs.

Further, I identified a number of issues I plan to address: https://github.com/arose/ngl/issues/43, https://github.co

[2016-01-23 00:06] kozlac commented on #409
@sobolevnrm as the trace back says, the error happens in [pka_routines.py:2071](https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/pdb2pqr/pdb2pka/pka_routines.py). The method is trying to add charge=None to a running sum of type float. The offending atom is:

HETATM 1826  CH2 TRP A 111      -3.079   9.320 -11.516  1.00 14.42           C

A quick and dirty fix would be to check if charge==

[2016-01-23 02:31] sobolevnrm commented on #409
It looks like this PDB entry includes an amino acid as a ligand and that
charges couldn't be assigned to it.  It would be great to have more
information on the error message for the user but I don't think this is a
problem we can fix directly.

On Fri, Jan 22, 2016 at 4:06 PM, Juan <notifications@github.com> wrote:

[2016-01-25 00:54] sobolevnrm opened #427 "Replace pdb2pqr/pdb2pqr/inputgen.py"
Replace pdb2pqr/pdb2pqr/inputgen.py with the new routines in APBS_Sphinx baker-sandbox apbs-python directory (assuming @keith923 doesn't nuke them when he cleans up my Git mishap :innocent: ).

[2016-01-26 22:31] lizutah commented on #375
@sobolevnrm - is this still the case (now that additional changes have been made to graphcut)?

[2016-01-26 22:40] keith923 opened #428 "iAPBS CMake issue"
The iAPBS portion of the main CMakeLists.txt file attempts to invoke ADD_LIBRARY on routines.c, which was fine before we added support for building the Python shared library.  But it's redundant now, and a bug.

[2016-01-26 22:43] keith923 opened #429 "iAPBS Fortran wrappers"
iAPBS has an option to use Fortran wrappers.  However, the APBS API that it relies upon was changed several years ago when Fortran was removed from APBS.

The main question now is whether we want to see if we can fix the API, or simply disallow the Fortran wrappers, and perhaps remove the defunct functions.

[2016-01-27 00:40] rubadub commented on #429
Hi Keith,

iAPBS does not depend on any APBS Fortran API. iAPBS is built as a library but there is included wrapper.f which is an example on how to use this iAPBS library from Fortran programs. This wrapper.f can be optionally built and I guess this triggers Fortran invocation you are seeing? You can enable/disable the wrapper building on the cmake command line.

Robert

[2016-01-27 00:40] sobolevnrm commented on #375
The problem was the PDB2PKA settings for APBS.  The changes I made to
graphcut didn't affect the APBS settings so it is likely that this problem
still exists.

On Tue, Jan 26, 2016 at 2:31 PM, Liz <notifications@github.com> wrote:

[2016-01-27 16:33] keith923 commented on #375
We may want to include command line options for running APBS.  Just poking around the pdb2pka code lately, I've run across other hard-coded parameters.

[2016-01-27 21:15] rubadub commented on #428
I pushed a fix for this, iAPBS should now compile cleanly.

On Tue, Jan 26, 2016 at 02:40:23PM -0800, Keith T. Star wrote:

[2016-01-29 00:11] kozlac commented on #408
@sobolevnrm, the reason it is printing inf's (for 2M6J) is coming from [pMC_mult.cpp:202 ](https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/pdb2pqr/pdb2pka/pMC_mult.cpp). For each pH value one of the charges is being calculated to zero and hence the ratio comes as inf. I am working on tracking back why this is from the molecule.

[2016-02-01 16:16] neilav commented on #27
I'd be happy to re-implement the R code into python. I could perhaps create a module in the extensions directory of apbs2pqr?

[2016-02-01 16:36] sobolevnrm commented on #27
Yes, that would be very helpful!  You were referring to the extensions directory of PDB2PQR, right?

[2016-02-01 17:12] neilav commented on #27
Yes I was :)

[2016-02-05 17:23] sobolevnrm commented on #408
We want to identify residues where all of the states have energies with absolute values greater than 80 (assuming units are kT).

[2016-02-05 17:23] sobolevnrm commented on #408
Residues that have this problem are errors and the run should stop and these errors should be communicated to the user.

[2016-02-05 17:25] lizutah opened #430 "web server display stderr"
The web server needs to display the std error if something goes wrong during a run.

[2016-02-05 20:31] lizutah commented on #408
Clarification: for this issue, just communicate to the user in stderr.  Making this error visible in the web server is issue #430.

[2016-02-05 21:59] kozlac commented on #408
As per @sobolevnrm  and @keith923 conversation I modfied the pdb2pka calc_pKa method to check for unusually large interaction energies (abs(energy)>80kT) before passing the values to the Monte Carlo file. To see what would happen, if the energies were bigger than 80 kT I capped them at 80kT and pass them to the Monte Carlo method. The results were still showing infinities. However, if I capped the

[2016-02-05 22:58] sobolevnrm commented on #408
Can you define "capping"?  I don't think we want to cap anything -- we want
to alert the user if those large numbers are encountered and raise an error.

On Fri, Feb 5, 2016 at 1:59 PM, Juan <notifications@github.com> wrote:

[2016-02-05 23:39] kozlac commented on #408
Yeah capping was probably  not the right word. I meant replace with 10 kT to see if the Monte Carlo method would still return inf's which did not. Do we want just throw and error and let the program continue or throw the error and terminate it?

[2016-02-08 22:07] kozlac commented on #409
This problem is solved in PDB2PQR 2.1. I am running 1JGH following command:

`pdb2pqr --with-ph=7.0 --ph-calc-method=pdb2pka --apbs-input --ff=parse --verbose --summary 1JHG.pdb  1JHG.pqr`

I think is solved by ignoring the HETATM entries in the pdb file  altogether, @kmonson can you confirm this?

I am closing this issue unless there is any objections.

[2016-02-08 22:07] #409 closed

[2016-02-09 01:20] kmonson commented on #409
Yes that is correct, but I wouldn't call it fixed. This method strips out
the entire ligand and never tells the user what it is doing.  If anything
it should either warn the user that it is removing HETATMs that are not
water or it should fail with a better error message.

On Mon, Feb 8, 2016 at 2:21 PM, Juan <notifications@github.com> wrote:

[2016-02-10 21:43] platinhom opened #431 "Error HIS when PDB2PQR"
When the chain has missing residues and the HIS at the start of a fragment, it will report:

But HD1/HE2 can't be added in this situation.  I solved it by replacing HIS to ALA. Can PDB2PQR fix it?

The example as:

[code]

[2016-02-16 22:31] lizutah opened #432 "PDB2PQR 2.1.1 release"
We need an incremental release of PDB2PQR with working graph cut code.  This needs to be deployed at UCSD and on github.

[2016-02-17 23:38] kozlac commented on #408
Added a check to verify that interaction energies are no larger than 80kt. If so the program throws an error message and terminates. I am closing this issue unless @sobolevnrm thinks otherwise?

[2016-02-18 02:26] sobolevnrm commented on #408
You test the absolute value of the energy, right?  If so, then it should be
OK to close.  Thanks!

On Wed, Feb 17, 2016 at 3:38 PM, Juan <notifications@github.com> wrote:

[2016-02-18 15:21] keith923 commented on #408
Just curious here.  If there are columns/rows in the interaction energies table that do not contain large values, could not those still be part of the solution?  In other words, if we were to remove the combinations that contained large values, could we not continue the calculation?

[2016-02-23 16:53] lizutah opened #433 "PDB2PKA titration curves fail exceedence checks"
The PDB2PKA titration curves fail exceedence checks (i.e., are very wiggly) for the following
proteins.  Investigate these systems:
- 1TUD
- 2PCY

[2016-03-29 21:23] lizutah commented on #232
Paper is submitted, closing.

[2016-03-29 21:23] #232 closed

[2016-03-29 21:23] kozlac commented on #408
The decision was made that if the absolute value of the interaction energy is  larger than 80kT then the program will stop and throw a message. (See PDB2PQ 2.1.1 release notes.)

[2016-03-29 21:23] #408 closed

[2016-03-29 21:34] lizutah commented on #432
deployed at UCSD for testing.

[2016-03-29 21:34] #432 closed

[2016-03-29 21:40] kozlac commented on #351
Decision was made not to support the old libc and move on.

[2016-03-29 21:40] #351 closed

[2016-03-29 21:41] lizutah commented on #397
Code is reintegrated, Juan is testing.

[2016-04-13 23:25] jaredsagendorf opened #434 "bug while parsing parameter file?"
I am trying to read in an AMBER parameter file using the `READ parm` statement. Attatched is my .pqr file, the parameter file, and the .in file.

When I run the .in file, I am getting the follow output with the error:

However, the atom P is very clearly defined in the parameter file for residue DC. So what the hell? Note that this is just a minimal working example, I do need to read in this param

[2016-04-14 17:52] kozlac commented on #434
Hello @jaredsagendorf, the problem is that the residue "DC" in the .dat file starts at line 698, ends at line 720, and continues at line 750 where the atom "P" is located. The parser sees the new residue name "DCN" and stops reading, that is why it can find it. A quick solution is to make sure that all lines with residues of the same name are contiguous. I moved the residues in the attachement [vp

[2016-04-15 20:20] lizutah opened #435 "updated apolar and polar documentation"
Hi Jared --

I apologize for the delayed reply.  We have replaced the separate polar and apolar calculations with the geometric flow approach in APBS -- this works well without specially tuned parameters (e.g., with AM1-BCC charges and ZAP9 radii).  I have Cc'ed some of the APBS/PDB2PQR developers who can help you more -- and update our documentation to remove this statement.

Thanks,

Nathan

On

[2016-04-15 20:23] lizutah opened #436 "broken markdown"
e.g. http://www.poissonboltzmann.org/docs/apbs-overview/#elec

suspect other pages have similar problems.

[2016-04-20 21:52] kozlac commented on #436
Fixed the md format for a lot of files. I think this was cause somehow by the new version of jekyll. Anyway it is fixed. If anyone sees  a page that I missed please let me know.

[2016-04-20 21:52] #436 closed

[2016-04-21 16:49] kozlac commented on #413
BEM is building now.

[2016-04-21 16:49] #413 closed

[2016-04-21 17:23] keith923 commented on #413
Nice!  Can you include a link to the commit that fixed this?  In general you can reference the issue in your commit message and it'll happen automagically.

[2016-04-21 17:30] kozlac commented on #413
I did. Is above the closing comment: https://github.com/Electrostatics/apbs-pdb2pqr/commit/fa535c4d53412f87e95b204d4f5751971bce5744

[2016-04-21 18:59] keith923 commented on #413
I'm blind!!!!  That's what my wife says anyway.  :smile:.  Sorry Juan, and thank you for being awesome.

[2016-05-02 00:31] mvfbarrionuevo opened #437 "GAMer libraries OR headers missing ...EXITING ON ERROR"
Hi,

I'm getting an error when trying to build fetk and I can't figure it out a way to work around this problem. Could someone help? Please.

Here is the error message I got:

---------- begin configuring for GAMER linkage ---------------
checking whether your environment defines FETK_INCLUDE... yes
checking whether your environment defines FETK_LIBRARY... yes
checking how to run the C++ preproces

[2016-05-02 18:12] kozlac commented on #437
Hello @mvfbarrionuevo , the reason your build is failing is because the builder can't find the GAMer libraries. However these libraries are included with the APBS distribution in apbs/externals/fetk/gamer/src/aaa_inc/gamer/gamer.h, etc... Could you give us more details about where you got the source files, APBS version, and the command you are using to build it? Thanks!

[2016-05-02 18:14] mvfbarrionuevo commented on #437
Hi there,

I'm sorry to bother you about it, but I figured it out and already solve
the issue.

Thanks a lot.

Kind regards,

--
Manoel V.F. Barrionuevo
Master's student
State University of Campinas

[2016-05-02 18:15] kozlac commented on #437
Glad to hear it!!

[2016-05-02 18:15] #437 closed

[2016-05-04 21:01] tlskillman commented on #401
The integration of UMol with VR tools is of interest to me also. I am associated with the Benaroya Autoimmune Research Institute. Through some lucky friend-of-a-friend connections I have gotten my hands on a pre-release Vive VR system. I successfully loaded and run the UnityMol_SVN project in Unity, but I have not yet succeeded at substituting the SteamVR CameraRig in for the UMol Camera in the pr

[2016-05-05 12:52] lizutah commented on #401
Tom - we have also made some progress on UnityMol in Vine, in collaboration with Marc Baaden. Here is a sneak peak at what we are doing: https://www.youtube.com/watch?v=Xxb3W8jnnp8.

[2016-05-05 14:52] tlskillman commented on #401
Ah Liz, That's so cool. Just what I had in mind. And it always 100 times cooler in VR than it is in videos. Might you be willing to share your work?  Either a Unity project file, or maybe some hints on how to integrate the CameraRig into Marc's published source code?

[2016-05-05 17:50] nick-cramer commented on #401
Hi Tom, I am the one doing the actual development to integrate UnityMol with Vive/SteamVR and made that video. I am certainly open to sharing the Unity project I'm working on.  I'm not sure I can make the decision on this though. Let me chat with the team here at PNNL and Marc to figure out a path forward.

My work is definitely a rough prototype and not part of Marc's codebase yet. Generally, we

[2016-05-12 01:34] keith923 opened #438 "More integer overflow problems"
A user was attempting to use the npbe option with dime values of 705.  This failed miserably because of some outstanding cases of integer counters overflowing.

[2016-05-16 00:43] bam93 commented on #401
Hi, sorry for a late reply. Nick, I am happy for you to share the code with Tom. Just as a note on the UnityMol code release logic: UnityMol is Open Source, but we typically release the new(est) source code with added features only when a companion paper describing those features is coming out. In the periods between such official releases, I share the source code 'privately' with selected collabo

[2016-05-17 08:47] tonigi opened #439 "pdb2pqr runs not deterministic"
Apparently pdb2pqr results depend on hash ordering, which is platform-dependent.  If you run 3PTB with -R (randomize hashes), HIS 91 turns out to be HID/HIE at random (roughly 50%).  This becomes an issue under Python 3, which has random hashes on by default.

To check:
[code]

T

[2016-05-17 16:20] keith923 opened #441 "APBS npbe segfault with large dime values"
APBS dums core when using the non-linear PBE solver, and the dime values are large (~700).  The ultimate cause for the core dump is a double free.  However there is something funky going on in the Newton's method code.  It starts out with a huge error tolerance and never even comes close to converging.

[2016-05-17 21:21] lizutah opened #442 "UnityMol rendering bug?"
Rendering of electrostatic surfaces in Nick's version of UnityMol is buggy, compared to Juan's version of UnityMol.  Need to investigate and work with Marc on a fix.

[2016-05-18 15:30] tlskillman commented on #401
Hi Nick and Marc,

Thanks for the willingness to consider sharing your UnityMol pre-release with me. I certainly agree not to redistribute your code without your prior permission.  My intent would be to show some of the Principal Investigators here at BRI what is possible in terms of VR visualizing and interacting with molecular structures.  Since we study autoimmune disease here, it will be inter

[2016-05-18 23:05] nickcramer commented on #401
I'll reach out via email to get you the code. It looks like you are locate in Seattle. I am in Richland but I visit Seattle often. It would be neat to meet up sometime and learn more about how you might use this technology.

[2016-05-23 21:41] lizutah opened #443 "SOR keyword use"
The SOR documentation is under mg-auto (http://www.poissonboltzmann.org/docs/apbs-overview/):
 "sor - This optional flag enables the program to use choose between multigrid calculations or successive over-relaxation (SOR) in a single grid. How the program determines which one to use is mainly dependent in grid size and the linearity of the PBE. If SOR is chosen, the stopping criteria is set to a m

[2016-06-10 16:36] lizutah commented on #374
@lwwilson1 says to replace with nanoshaper, but provide option in case msms is already installed.

[2016-06-10 16:38] keith923 commented on #374
Do we want to invest the time to do this?

[2016-06-10 16:39] lizutah commented on #251
@Jiahuic replaced the fortran code with latest version.

[2016-06-10 16:39] #251 closed

[2016-06-10 16:41] lizutah commented on #250
Going to add more tests to prove robustness. #42

[2016-06-10 16:41] #250 closed

[2016-06-10 16:42] lizutah commented on #253
duplicate of #374.  Closing.

[2016-06-10 16:42] #253 closed

[2016-06-12 14:36] sobolevnrm commented on #374
It would be great if we could add support for it.

On Fri, Jun 10, 2016 at 9:38 AM, Keith T. Star <notifications@github.com>
wrote:

[2016-06-12 21:58] lizutah opened #445 "write potentials for nanoparticles in APBS"
a user writes...
"I was trying to shape up the surface potential file for a nanoparticle similar to that for a single protein molecule as obtained from APBS solver. The inherent problem is that, whereas nanoparticles are electrically neutral but their surface electrons often gets polarized with the incident electromagnetic field having partial charge separation. So, I have simulated the polarized

[2016-06-15 17:43] #288 closed

[2016-06-15 17:43] #289 closed

[2016-06-15 17:43] #290 closed

[2016-06-15 17:43] #326 closed

[2016-06-15 17:45] keith923 commented on #240
I was thinking of assigning this to Lisa, and having her close it when she merges her branch with master.  Assuming that we want to do that and have another APBS release?

[2016-06-15 17:46] keith923 commented on #239
I'm thinking that we can assign this to Lisa?

[2016-06-17 16:29] lfelberg opened #447 "PBAM won't build on Windows"
Like Geoflow, PBAM doesn't seem able to build with Visual Studio on Windows

[2016-06-22 21:16] keith923 commented on #439
@kmonson, can you comment?  Do you know off the top of your head where this is happening?

[2016-06-22 21:25] tonigi commented on #439
In [this branch](https://github.com/tonigi/apbs-pdb2pqr/tree/setuptools) I fixed it with liberal use of OrderedDicts (4bad162a6c03d79e109d6e9c9d5b69312bb59881).

[2016-06-22 22:57] kmonson commented on #439
I'm not sure where the problem is in this case. We try to be deterministic everywhere it matters. I know that for debumping we use the same order. In the graphcut code in pdb2pka order doesn't matter if the algorithm is implemented correctly.

I could see a case (based on what changed in @tonigi's branch) where the hbond optimization could happen out of order and cause a problem. The algorithm che

[2016-06-25 01:42] keith923 commented on #439
It seems like this must have been a problem even before @tonigi ported the code to Python 3.  Right?  I mean, dict ordering has never been guaranteed.  At least not that I've seen.

[2016-06-26 10:41] tonigi commented on #439
Yes. Python3 only made it easier to spot because it enforces randomization between runs (and not just between platforms).

[2016-07-05 15:34] keith923 opened #450 "1.4.2.1 OS X DYLD path problem"
## Description
When one opens the "APBS app" on OS X a new Terminal windows pops up that has had it's PATH and DYLD_LIBRARY_PATH updated so that it one can run `apbs` and associated binaries.  A user reported that `mergedx` wasn't working, but that `apbs` was working fine.

This morning I downloaded APBS onto my personal Mac and discovered that if one does not have anything in their DYLD_LIBRARY_P

[2016-07-05 18:09] keith923 commented on #450
I actually misspoke above regarding changing the shared lib paths in the executable.  I said that it assumes that the bundle is installed in /Applications, but that's only true if you use absolute paths.  If you use a relative path, e.g., `../Frameworks/...`, then it doesn't matter where the user dumps the bundle.

[2016-07-08 22:46] keith923 commented on #450
I had some recent feedback that leads me to believe that this may be new behavior in El Cap, i.e., this worked in Mavericks.

[2016-07-21 15:42] j3mdamas opened #451 "Why use atomname HSG in terminal CYS? And why atomname HN in CYM?"
Checking the `dat/leap` of AmberTools15 (and I would guess the recent AmberTools would be the same), there is no `HSG` atom anywhere, in particular for NCYS or CCYS. The atomname is still `HG`. Using `runPDB2PQR` gives me that atomname that then fails in `tleap`:

[code]

Am I correct or am I missing something here?

This query shows me specific changes being performed on the `HG` atom: https://gi

[2016-07-22 13:39] j3mdamas commented on #451
I updated the topic of the thread. The same question applies to changing the H in CYM to HN, even though this time I can find old Amber forcefields were that happened.

[2016-08-03 15:46] lizutah commented on #374
@lwwilson1 - can you update this issue?

[2016-08-03 15:47] lizutah commented on #359
Done. @sobolevnrm did this for the renewal.

[2016-08-03 15:47] #359 closed

[2016-08-03 15:49] lizutah commented on #422
@keith923 - can we close this?

[2016-08-03 16:48] lizutah commented on #442
I think we found this wasn't an issues after all, correct @kozlac ?

[2016-08-03 16:51] lizutah commented on #185
Deployed in Feb.

[2016-08-03 16:51] #185 closed

[2016-08-03 16:59] lizutah commented on #240
@lfelberg did this this summer!

[2016-08-03 16:59] #240 closed

[2016-08-03 17:15] keith923 commented on #422
@lizutah no, not really.  I fixed the problem with the Sphinx repo, but this one is still as described above.

[2016-08-03 17:35] lwwilson1 commented on #374
NanoShaper, both Skin and SES support, is available for Mac and Linux, assuming the user has the NanoShaper executable installed in their path. CMaking the project gives Mac, Linux, and Windows users the proper executables in the build/bin that they can install. I was waiting to close this issue until I get dylibs/dlls working for Mac, Linux and Windows so I can remove all system calls from TABI-P

[2016-08-05 06:11] lwwilson1 commented on #42
Added examples to display use of different surface meshers (MSMS, NanoShaper SES, and NanoShaper Skin) and different orders of treecode Taylor series expansion.

[2016-08-05 06:11] #42 closed

[2016-08-07 07:45] lwwilson1 commented on #419
Is this the same issue as #450 ?  In which case I'd assume it's not related to tsch, since I get the same issue with bash

[2016-08-07 08:02] lwwilson1 commented on #69
I'm curious about this -- I have a working cluster-particle treecode in C I've built this summer that can do Coulomb and screened Coulomb potentials; it's just a function that takes in targets, sources, and some parameters, and returns potentials at the targets. I'm working of course on trying to build a regularized Poisson-Boltzmann solver around it, but could it also be useful as, say, a standal

[2016-08-07 22:05] keith923 commented on #419
#450 I new to El Cap. So while it may be the same problem, I doubt it. The simplest explanation for this issue is the difference in the way bash and tcsh deal with env vars.

[2016-08-07 22:09] keith923 commented on #69
That sounds reasonable @lwwilson1. I'm not knowledgeable enough wrt the math and chem exactly how it would fit in a Sphinx pipeline. @sobolevnrm can clarify that though.

[2016-08-12 16:15] lizutah commented on #447
@kozlac - going to try clang

[2016-08-12 16:15] lizutah commented on #442
could not reproduce.

[2016-08-12 16:15] #442 closed

[2016-08-12 16:19] keith923 commented on #428
I recall that this is related to #429.  IIRC enabling this is what causes #429 to occur.

[2016-08-12 16:21] lizutah commented on #419
only an issue for me... so closing. :-P

[2016-08-12 16:21] #419 closed

[2016-08-12 16:23] keith923 commented on #417
I'll chat with Juan about this.  Most likely it won't happen.

[2016-08-12 16:25] lizutah opened #453 "TABI build on windows"

[2016-08-12 16:26] lizutah commented on #374
closing.  Just needs to build on windows.  see issue #453

[2016-08-12 16:26] #374 closed

[2016-08-12 16:29] lizutah commented on #361
whole suite of molecules from the pKa for testing available.  @kozlac implemented some of this suite.

[2016-08-12 16:29] #361 closed

[2016-08-12 16:34] keith923 commented on #82
Good Sphinx workflow.  Take triangles from nano shaper and feed them into multivalue.

[2016-08-12 16:40] lizutah commented on #21
for the focusing calculation...

[2016-08-12 16:41] keith923 commented on #21
This is about caching coarse grid calculations to save time when doing e.g., PDB2PKA.

[2016-08-12 23:20] lwwilson1 commented on #429
Echoing Robert's comments above. There was a small CMakeLists issue (fixed) that made it look like an error was occurring involving invoking Fortran where it was not. I changed the name of the BUILD_WRAPPER option to BUILD_iAPBS_FORTRAN_WRAPPER to reduce confusion over the make options

[2016-08-12 23:20] #429 closed

[2016-08-12 23:21] lwwilson1 commented on #428
Already fixed.

[2016-08-12 23:21] #428 closed

[2016-08-16 01:04] lwwilson1 commented on #453
TABIPB successfully compiles and runs using Visual Studio 2013, default Windows compilers. This works both as standalone and as a component of apbs.exe. Numerical experiments on the examples show that I indeed get the same results as on Mac and Linux.

[2016-08-16 01:04] #453 closed

[2016-08-17 05:54] lwwilson1 opened #454 "Geoflow and PBAM won't build simultaneously"
Trying to compile APBS with both Geoflow and PBAM fails at the linking step because of duplicate symbol definitions. I suspect it's because the maloc code is compiled into both Geoflow and PBAM. We probably need to find a way to first compile maloc code as a library that we can link into both Geoflow and PBAM.

The produced error when compiling:
[code]

The Geoflow library CMake code include direc

[2016-08-17 05:56] lwwilson1 commented on #454
@keith923 I wanted to make you aware of this. We can talk about it tomorrow.

[2016-08-17 15:58] keith923 commented on #454
Thanks @lwwilson1.  I'll have to look at the CMakeLists.txt files to see how the libs are being created, because I don't see how just including maloc would cause this error.  The error doesn't seem to point to maloc either, since it's complaining about something called "_data", which may or not be maloc.

Have you tried this on any other platforms?

[2016-08-17 18:15] lwwilson1 commented on #454
Right, it's not the inclusion itself, but talking with Lisa, we began to think maybe there's some actual code in one of those maloc headers that's being compiled into both? There's no reference to "_data" in Geoflow or PBAM, and both compile with a web of MALOC dependencies. The more I explore the less sense that explanation makes. I'm going to try on the Linux box now

[2016-08-19 21:18] keith923 commented on #422
Something funky is happening when I try to push the cleaned up repo.  I manage to get it down to 83MB, but when I push it I get errors related to the pull requests:

[code]

I've tried a few things to deal with this to no avail.  That said, I've got the clone down to less than half of what it was: ~198MB.  I'd love to trim it more, but I think I've spent more than enough time on this.

[2016-08-19 21:18] #422 closed

[2016-08-19 23:05] keith923 commented on #268
It looks like I'd already figured out what I had wanted to write.  I guess I just never got around to implementing it.  @kozlac there is a comment [here to output "surfu"](https://github.com/Electrostatics/geoflow_c/blob/e8ce510a670e0b7f3501e72be6141fc20328f947/src/GeometricFlow.cpp#L229), which IIRC represents the surface of the molecule.  I'm going to poke around in the code some more and see if

[2016-08-20 17:11] AFokas opened #455 "Electrostatic Potential at position in pdb file"
Hello,

I was wandering whether there exists a technique that would allow me to measure the electric potential at particularly point in the pdb; namely, how do the entries in the .dx file map to xyz coordinates in the pdb file.

Thanks,

Alexander

[2016-08-20 20:21] kozlac commented on #455
Hello @AFokas, this [link](http://www.poissonboltzmann.org/docs/file-format-info/) explains how the outputted dx files by APBS are laid out. For a particular point that doesn't happen to be a grid point you could try using the [multivalue tool](http://www.poissonboltzmann.org/docs/apbs-utilities/) to get values at user supplied list of points. It uses spline interpolation. Please let me know if yo

[2016-08-22 14:12] AFokas commented on #455
Hello,

Thank you for getting back to me. Although I seem to have apbs installed
and working, when I type "multivalue" into the command line it does not
seem to work. I cannot find any instructions on how to build the
multivalue.c program either. Could you point me in the right direction to
get this up and running?

Thanks,

Alexander

On Sat, Aug 20, 2016 at 9:21 PM, Juan <notifications@github.co

[2016-08-22 16:01] keith923 commented on #455
Which OS are you on, and what version of APBS are you using?

 - Keith

On Aug 22, 2016, at 07:13, AFokas <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello,

Thank you for getting back to me. Although I seem to have apbs installed
and working, when I type "multivalue" into the command line it does not
seem to work. I cannot find any instructions on how to build the
multival

[2016-08-22 16:03] AFokas commented on #455
Linux x86_64 x86_64 x86_64 GNU/Linux
APBS-1.4.2.1-linux64

Thanks,
Alexander

On Mon, Aug 22, 2016 at 5:01 PM, Keith T. Star <notifications@github.com>
wrote:

[2016-08-22 16:13] kozlac commented on #455
@AFokas if you did a "standard" installation most likely the multivalue tool is already build but for some reason is not in the your path. Please look in:

    $ls -l /path/to/installation/folder/for/apbs/tools/bin

There you should see the multivalue tool and others. To added to your path:

    $export PATH=/path/to/installation/folder/for/apbs/tools/bin:${PATH}

Please let us it this solve your

[2016-08-22 17:03] AFokas commented on #455
Hello,

That doesn't seem to be the issue. Perhaps I haven't installed correctly,
as in the APBS-1.4.2.1-linux64/bin there is only the apbs and mpe files.
Are there instructions to install from source? I have followed
http://www.poissonboltzmann.org/docs/apbs-installation/ but that does not
seem to build the tools.

Thanks,

Alexander

On Mon, Aug 22, 2016 at 5:13 PM, Juan <notifications@github.co

[2016-08-22 17:12] kozlac commented on #455
@AFokas can you tell me what if you have the following folders:
    $ls -l .../APBS-1.4.2.1-linux64/share/apbs/tools/bin

[2016-08-22 17:34] AFokas commented on #455
ls -l

-rw-r--r-- 1 asf40 tcm 253223 Jan  9  2016 analysis
-rw-r--r-- 1 asf40 tcm 140753 Jan  9  2016 benchmark
-rw-r--r-- 1 asf40 tcm 250475 Jan  9  2016 born
-rw-r--r-- 1 asf40 tcm 263124 Jan  9  2016 coulomb
-rw-r--r-- 1 asf40 tcm  23477 Jan  9  2016 del2dx
-rw-r--r-- 1 asf40 tcm 240705 Jan  9  2016 dx2mol
-rw-r--r-- 1 asf40 tcm 240661 Jan  9  2016 dx2uhbd
-rw-r--r-- 1 asf40 tcm 251046 Jan  9

[2016-08-22 18:05] kozlac commented on #455
@AFokas it seems you need to change the read/write permissions in that folder. To do that input the following:

    $cd </path/to/>/APBS-1.4.2.1-linux64/share/apbs/tools
    $chmod -R 755 bin/
    $cd bin

Now most likely the libraries needed by multivalue won't be in your library path. To include them:

    $export LD_LIBRARY_PATH=</path/to/>/APBS-1.4.2.1-linux64/lib:${LD_LIBRARY_PATH}
    $./mul

[2016-08-22 18:14] AFokas commented on #455
Fantastic, thank you for taking time to walk me through that.

Best,

Alexander

On Mon, Aug 22, 2016 at 7:05 PM, Juan <notifications@github.com> wrote:

[2016-08-22 18:17] kozlac commented on #455
@AFokas Awesome! Let us know if there are further questions. In the mean time I am closing this issue.

[2016-08-22 18:17] #455 closed

[2016-08-22 20:10] lwwilson1 commented on #454
Unnecessary variable definition in generic/vhal.h. Removed and building works.

[2016-08-22 20:10] #454 closed

[2016-08-22 20:18] lwwilson1 commented on #447
@kozlac The issue we discussed (C++ functions declared as extern "C" functions returning user-defined struct, incompatible with C standard) isn't the issue (I replaced it with returning pointers to the structs), though it does remove several compiler warnings. The same pausing issue occurs, however. I tried building with Clang + VS2013 instead, and still, the same error occurs. I did some debuggin

[2016-08-22 22:08] lwwilson1 commented on #447
The VS debugger throws an exception when `solvePBAM` is called in `main.c`:
[code]
It must have something to do with the calling itself; the next line to be executed, according to VS, is the opening brace of the `solvePBAM` function. This is what the debugger has to say:
[code]
If I continue:
[code]

What's puzzling is the calls to `solvePBAM` and `solveBEM` are nearly identical but `solveBEM` thr

[2016-08-22 23:10] keith923 commented on #205
I got rid of the extra array on the stack completely.  I instead leveraged the `VaccSurf->bpts ` array that's passed in to the function as `ref` by shifting the value to the left and adding one if the point contributes.  Once the new `VaccSurf` structure is allocated I assign the appropriate value from the `ref` struct and re-shift the value to the right.

[2016-08-22 23:10] #205 closed

[2016-08-23 01:16] lwwilson1 commented on #447
Another comment here that might provide a clue... If I increase the stack size to some very, very large amount (80 GB here), then PBAM actually begins to run. In fact, the program gets as far as creating a PBAM object. Then I get a warning from the C++ Runtime Library...
[code]
So the error references a line from a file in the VC include directories.

Makes me think something very terrible has hap

[2016-08-23 01:59] keith923 commented on #414
Related to this, the Travis builds are failing on Ubuntu with the GCC compiler:
[code]
The error:

[code]

[2016-08-23 20:45] keith923 commented on #414
Here's what I found re the error I mentioned above: http://stackoverflow.com/questions/16256586/how-to-enable-c11-on-later-versions-of-gcc

So basically it's not working on Ubuntu because GCC version < 4.7.  I'd suggest just ignoring these last two comments.  I'll deal with the problem separately.

[2016-08-24 14:31] AFokas opened #456 "Potentials for proteins with embedded pigments"
Hello,

I am attempting to calculate the potential at specific atoms in a protein with embedded pigments (http://www.rcsb.org/pdb/explore.do?structureId=3EOJ).  I am doing this using "multivalue" with xyz coordinates from the pdb file, however the pqr is not able to assign charges to the embedded pigments. Is there a way around this?

Thanks,

Alexander

[2016-08-24 15:37] kozlac commented on #456
@Afokas You need to run the linked pdb through [PDB2PQR](http://nbcr-222.ucsd.edu/pdb2pqr_2.1.1/) in order to get a pqr file. PDB2PQR will assign charges to the molecule according to the chosen fields and parameters. You can read more on usage [here](http://www.poissonboltzmann.org/).  After you have the .pqr and .in file you can run it with APBS to obtained the potentials in a dx formatted file.

[2016-08-24 16:36] AFokas commented on #456
Hello,

I have tried to use PDB2PQR but it does not seem to recognise the ligands in the pdb file. From the server, I am guessing that I need to provide a MOL2 file of the bacteriochlorophyll molecules, however I am not familiar with this; if I do not have it am I unable to use PDB2PQR?

[2016-08-24 17:38] keith923 commented on #456
@AFokas could you provide us with more information?  The error that you are getting when you run PDB2PQR, for example.

[2016-08-25 02:03] lwwilson1 commented on #371
Test added

[2016-08-25 02:03] #371 closed

[2016-08-25 05:19] lwwilson1 opened #457 "Add PBAM to apbs_tester.py"
For completeness, probably need to add PBAM results to tester as well.

[2016-08-25 09:03] AFokas commented on #456
From the command line;

python pdb2pqr.py --noopt --apbs-input --ff=amber --chain --verbose
--summary ../pdbs/0.pdb 0_3.pqr

And in the 0_3.pqr I find;
#######################################

REMARK   1 PQR file generated by PDB2PQR (Version master)
REMARK   1
REMARK   1 Command line used to generate this file:
REMARK   1 --noopt --apbs-input --ff=amber --chain --verbose --summary
../pdbs/0.pdb 0

[2016-08-25 16:56] keith923 opened #458 "fem section missing from test_cases.cfg"
Add FEM results to test_cases.cfg and fix python runner script to exit with an error condition when a section is missing.

[2016-08-25 16:58] keith923 opened #459 "actin-dimer-parallel intermediate results failing"
The actin-dimer-parallel test is [failing](https://travis-ci.org/Electrostatics/apbs-pdb2pqr/jobs/154576673).  Investigate and fix so that it's not failing.

[2016-08-25 17:40] lwwilson1 commented on #459
I noticed this yesterday. The total energy is off by 0.1%, the other values are off by 0.007% to 0.001%. Is there any way to know if the test values are wrong?

[2016-08-25 17:59] keith923 commented on #459
@kozlac added those tests recently, so I'm hoping that he can determine if the tests are failing because something changed, or if it's because of a mistake when he created the tests.

[2016-08-25 19:30] lwwilson1 commented on #15
Now documented in READMEs and on website:
http://www.poissonboltzmann.org/external_contributions/extern-tabi/

[2016-08-25 19:30] #15 closed

[2016-08-25 19:31] lwwilson1 commented on #33
Test cases for bem added in examples/bem, examples/bem-binding-energy, and examples/bem-pKa. Also integrated into apbs-tester.py

[2016-08-25 19:31] #33 closed

[2016-08-25 19:35] lwwilson1 commented on #252
BEM/ TABI-PB compiles and runs as part of APBS on Mac OS X, Windows, and Linux.

[2016-08-25 19:35] #252 closed

[2016-08-25 19:47] lwwilson1 commented on #457
On hold until the PBAM return struct is populated

[2016-08-25 19:55] Jiahuic commented on #33
The reorganized bem (TABI) examples look awesome!

[2016-08-25 20:08] lwwilson1 commented on #447
Just a note about what needs to be changed in the PBAM code to get it to compile with Visual Studios...

First, note that the random number function `drand48()` is defined in the POSIX standard but not in ANSI C, so it's not included in VC++. Thus, I had to include a file defining `drand48()` in `pb_s_am/pb_shared/src` defining the function. Below are the contents of this file, named `drand48.cpp`

[2016-08-25 21:30] keith923 commented on #458
Changed "fem" to "born" in travis config file.  Also updated run_travis_test.sh and apbs_tester.py to err if a requested test is missing.

[2016-08-25 21:30] #458 closed

[2016-08-25 22:05] lizutah commented on #424
Closing.  Made a pass on the install and readmes for apbs and pdb2pqr.

[2016-08-25 22:05] #424 closed

[2016-08-25 23:27] lwwilson1 commented on #323
Just dxmath, or also the related tools like analysis.c? What about utilities analagous to del2dx, dx2mol, mergedx, etc.?

[2016-08-25 23:32] keith923 commented on #323
I think all of the tools that read or write DX files should be updated.

[2016-08-30 00:32] keith923 commented on #459
Updated expected results to match, well the expected numbers.  See commit for more info.

[2016-08-30 00:32] #459 closed

[2016-08-30 00:35] keith923 commented on #450
I love this little script from Frank V. Marcoline:
[code]

[2016-08-30 00:48] lwwilson1 commented on #323
dxmath and the utilities now support binary dx files. I still plan on doing a little bit of output formatting and cleaning up some of these utility codes. I'm going to open a new issue for mergedx2.c, which will take a bit more elbow grease.

[2016-08-30 00:48] #323 closed

[2016-08-30 00:49] lwwilson1 opened #460 "Add binary DX support to tools/mesh/mergedx2.c"
Similar to binary DX support for the other utilities in tools/mesh.

[2016-08-30 11:04] AFokas commented on #456
Is there any more information I can provide that will help resolve this?

[2016-08-30 17:32] kozlac commented on #456
@AFokas we are looking into this. I'll get back to you as soon as I have more information. Thanks for your patience.

[2016-08-30 18:53] keith923 opened #461 "Add support for electric field vector to multivalue"
A user writes:

[2016-08-30 23:24] keith923 commented on #447
So, I finally got APBS master built and ran imidazole.in and it completed without any problem.  Now that's Geoflow.  I still need to try PBAM.

[2016-08-31 15:15] kozlac commented on #447
That's awesome. What was the problem?

[2016-08-31 15:31] keith923 commented on #447
I should have been more clear. I didn't actually do anything. It just worked. I'm really hoping that something becomes clearer after I manage to get PBAM built.

[2016-08-31 18:30] keith923 commented on #447
In addition to @lwwilson1's excellent comments above, note that the new file, `drand48.cpp`, needs to be added to the `add_library` sections in `pb_s_am/pbam/src/CMakeLists.txt`.

Now that I've bothered to write this comment, I ask myself why I haven't just made the changes and committed them.  :)

[2016-08-31 18:32] keith923 commented on #447
I finally got PBAMlib to build and run inside of APBS. Long story short, my problem was that I created the `drand48.cpp` file I made the mistake of doing it in Notepad, and for some reason Windows added a `.txt` extension to my new file and hid the fact from me.  :rage:

The good news is that it ran just fine for me, with no changes.  Same as for Geoflow.  Go figure?

[2016-08-31 18:33] keith923 commented on #447
@lwwilson1 would you mind committing the changes that you made to get this to build on Windows?  The ones that you outlined above?

[2016-08-31 19:58] lwwilson1 commented on #447
Since they're changes to the pb_s_am external submodule, Lisa will have to commit them, but I'll send her a pull request with the changes. Any idea what the difference was that got it to work on yours??

[2016-08-31 20:11] lwwilson1 commented on #447
Cool. We'll get right on this. *****Magic*****

[2016-08-31 20:13] kozlac commented on #447
const double __MAGIC__

[2016-08-31 20:18] keith923 commented on #447
I love it!
[code]

[2016-08-31 21:43] #460 closed

[2016-09-01 01:30] lwwilson1 commented on #447
Have a pull request with Windows compatibility updates that's been submitted to the original pb_s_am repo. Once Lisa is ready to merge lf_pbsam into master, I guess then we can give it another go and see if it still works, or if there's anything else we need to add into pb_s_am for compatibility.

[2016-09-01 19:37] keith923 commented on #447
![ysbkhg1](https://cloud.githubusercontent.com/assets/6402836/18181621/db249d06-7040-11e6-8d5d-dea1b73b0622.gif)

[2016-09-02 00:05] lwwilson1 commented on #457
Adding an energy check for an energyforce run. A dynamics run is nondeterministic, so it can't be added to tester in a meaningful way. The code is there; it'll work once lf_pbsam and the master are merged.

[2016-09-02 00:05] #457 closed

[2016-09-02 01:45] sobolevnrm commented on #447
Awesome.

On Thu, Sep 1, 2016 at 12:37 PM, Keith T. Star <notifications@github.com>
wrote:

[2016-09-06 21:10] keith923 commented on #447
I will test this on another Windows box to verify that it's working.

[2016-09-06 21:39] #398 closed

[2016-09-09 16:56] IsabelaPastorini commented on #393
Someone know how i can get the distance between 2 atoms and put at visualization (in a label maybe)? with a line between, connecting them

[2016-09-09 17:07] sobolevnrm commented on #393
Hello --

This question doesn't refer to APBS; you should look at the documentation
for PyMOL or VMD (or whichever software you're using) for the answer to
this question.

Thanks,

Nathan

On Fri, Sep 9, 2016 at 9:56 AM, IsabelaPastorini <notifications@github.com>
wrote:

[2016-09-12 15:58] keith923 opened #462 "Get the Release Ready"
- [x] Get everything built on Windows, OS X, and Linux
- [x] Create installation packages as done for the last release
- [x] Run the tests
- [x] Create a branch and put the following in it:
- [x] Updated release notes
- [x] Updated change log
- [x] Update example .md files with test results

[2016-09-14 19:11] lwwilson1 opened #463 "Add PBSAM to apbs_tester"
Add an energyforce test for PBSAM to the apbs_tester functionality

[2016-09-14 19:16] #463 closed

[2016-09-14 19:18] lwwilson1 commented on #239
@lfelberg I guess we can close this now? It certainly all looks good and works well for me now

[2016-09-22 22:51] keith923 commented on #36
What is this?  I have no idea what to do with it.

[2016-09-22 22:56] sobolevnrm commented on #36
Liz was going to add a "fog-like" function for visualization with this particular software package.

[2016-09-22 22:56] #36 closed

[2016-09-22 23:02] keith923 commented on #414
The last comment describes the problem, and we are successfully creating linux builds.

[2016-09-22 23:02] #414 closed

[2016-09-22 23:05] keith923 commented on #239
@lwwilson1 I think I agree.  I'm closing now, and if @lfelberg objects, she can reopen it.

[2016-09-22 23:05] #239 closed

[2016-09-22 23:14] keith923 commented on #417
While I love this idea, I don't think that it's worth the investment, given that this is hopefully the last release of the legacy code base.

[2016-09-22 23:14] #417 closed

[2016-09-23 17:11] kozlac opened #464 "Change BLAS Deafault from "MKL" to Open" / Automatically Install OpenBLAS."
Right now the default for BLAS when building PBAM is MKL. Changing the BLAS=Open flag at the top level does not work since it gets set back to MKL in the Dependencies.cmake file. We need to make sure the default is "Open".  Furthermore, if openBLAS is not present we need to install it automatically.

@lfelberg  Could you make these changes?

[2016-09-24 22:10] jaredsagendorf opened #465 "--hbond option gone in 2.1.1?"
I can't find any documentation of this change through google or through the release notes: http://www.poissonboltzmann.org/news/comp_pdb2pqr_release_history/

but version 2.0.0 had an --hbond option, which would print out a list of hydrogen bonds in the structure. This option has vanished in the newer release. Any explanation as to why?

[2016-09-27 01:20] keith923 commented on #447
I tried this on another Windows box (Win 10) and I didn't manage to get all of the DLLs copied over. @kozlac, have you got  Win build yet?  With the installer ready?

[2016-09-27 15:19] kozlac commented on #447
@keith923, not yet with the installer I was trying to get the tests and the readme's out of the way first.

[2016-09-27 16:25] keith923 commented on #447
@kozlac did you get it to build and run tests on Windows?  That's all that really matters for this issue.

[2016-09-28 17:38] keith923 commented on #465
Do either of @kozlac or @kmonson have any insight into this?

[2016-09-28 17:56] kmonson commented on #465
--hbond was/is implemented through an extension. I just checked and it's still there in master and the latest release. If there is an error loading the extension then the program would exit with an error.

Are you running one of the prepackaged  binary releases?

[2016-09-28 17:59] kmonson commented on #465
I just checked the latest windows release (all releases use the same configuration file when built) and the hbond extension is in there. Does your copy of the software have an hbond.py file in the extensions directory?

[2016-09-28 19:55] jaredsagendorf commented on #465
Ahh I see, yes I'm running the pre-packaged binary. So I'll have to compile from source and include the extension to use this option? And yes, hbond.py is included in the extensions directory.

I guess my confusion stemmed from the fact that the previous version I was running (2.0.0) included the hbond extension in the binary.

Thanks for the responses.

[2016-09-28 20:06] kmonson commented on #465
Hmm, the extensions are supposed to be included in the binary packages. You should not have to compile it. If there is an extension directory with an hbond.py file it should work. This might be a bug.

Do you see any hbond related options if you run with --help? At some point I consolidated some of the extensions together. Maybe it goes by a different name? I thought I did that prior to 2.0.0 and

[2016-09-29 18:17] kozlac commented on #462
I am using the following cmake flags to build in Linux:

-DCMAKE_BUILD_TYPE=Release -DBUILD_DOC=ON -DENABLE_FETK=ON \
-DENABLE_GEOFLOW=ON -DENABLE_BEM=ON -DENABLE_PB_S_AM=ON

For Windows:

-DENABLE_GEOFLOW=ON -DENABLE_BEM=ON -DENABLE_PB_S_AM=ON

[2016-09-29 18:49] lwwilson1 commented on #464
So does PBAM for sure need BLAS? I ask since you said you got it to work by just commenting out the Dependencies include statement. It now sets OpenBLAS as the default, however. If we do need it, do you have example code for how you can automatically install it? I'd imagine it'd be different for every system. Of course, you don't have to do it on Mac since it just relies on vecLib for Mac, but I'd

[2016-09-30 20:30] kozlac commented on #462
Because of C standard mismatches between VS15 and GCC I am removing the PB-SAM from the Windows build until these are resolved.

[2016-10-01 23:57] keith923 commented on #462
## Test Results

Test | Windows 7 (kts) | OS X (kts) |
-----|------------------|------------|
born |  👍 | 👍
actin-dimer-auto |   | 👍
actin-dimer-parallel |  | 👍
alkanes |  | 👍
FKBP | 👍  | 👍
hca-bind |  | 👍
ionize |  | 👍
ion-pmf |  | 👍
ion-protein |  | 👍
pka-lig |  | 👍
point-pmf |  | 👍
solv |  | 👍
geoflow |  | 👍
bem |  | 👍
bem-pKa |  | 👍
bem-binding-energy |  | 👍
pbam |  | 👍
pbsam |  | 👍
protein-rn

[2016-10-03 14:50] keith923 commented on #462
## Windows installer Issues
* I did find the documentation and examples -- there were in the share directory and didn't expect them to be there.  That said, I think it's fine that they stay where they are.
* We used to dump APBS off the root.  I think that if we don't continue to do that users may get confused.  What do you think?
* We should use the icon that Minju created on the APBS executable.

[2016-10-03 15:53] kozlac commented on #462
@keith923 yeah I was trying to mimic the folder structure of the linux one. I can change the msi to install on the desktop. I will go ahead and also add the /programmer folder.

[2016-10-12 22:52] rpryzant opened #466 "Unhandled exception"
In ``pdb2pqr/propka30/Source/protein.py``, ``getPHopt()``, line 628, there might be an uncaught exception.

``pH_opt`` can be referenced before assignment. This happened to me. Stack trace:

[code]

[2016-10-12 22:59] keith923 commented on #466
This is part of PROPKA, not PDB2PQR.  So while their code should maybe be a bit more robust, it may be that PDB2PQR is doing something wrong when calling their code.  It's hard to tell though, just given what you have supplied above.  Can you let us know how to reproduce the problem?

Also, you may want to submit a bug report to the PROPKA folks.

[2016-10-12 23:03] rpryzant commented on #466
Ah, thanks for the info.

I was trying to run every structure in the PDB through pdb2pqr. Not sure exactly which structures caused the hiccup because all of my threads were writing to a pooled stderr. When I track that down, though, I'll be sure to ping the PROPKA folks about it.

[2016-10-12 23:20] #466 closed

[2016-10-13 20:04] keith923 commented on #450
I've updated all of the internal binary paths to point inside of the bundle for release 1.5.

[2016-10-13 20:04] #450 closed

[2016-10-18 16:57] rubadub opened #467 "'make install' fails when '-DBUILD_TOOLS=OFF' is used"
When using `-DBUILD_TOOLS=OFF` with `cmake` the subsequent `make install` fails with this error:

[code]

I guess `CMakeLists.txt` needs to be updated for the case when building of tools is turned off.

[2016-10-18 20:58] rubadub opened #468 "APBS-1.5-linux64 binary release requires g++ version 5 libraries installed?"
The 1.5 linux64 binary release requires GLIBCXX_3.4.21 during runtime. These g++ 5 libraries are available only on recent Ubuntu distros. The latest Centos/Redhat 7.2 is still using gcc 4.8. This means this binary release won't work on any stock Centos/Redhat and older Ubuntu distros. Users will have to upgrade their gcc to be able to use the pre-built apbs binary (which is not trivial).

[2016-10-18 21:11] keith923 commented on #468
Sadly none of us ran into this as an issue.  I mean, who doesn't want to always run with the latest and greatest, right?

Juan is going to rebuild the binaries to work with GCC 4.8.

[2016-11-11 17:53] kozlac commented on #468
Release has been updated with binaries built with GCC 4.8

[2016-11-11 17:53] #468 closed

[2016-11-11 22:41] kozlac commented on #467
@rubadub can you tell me your setup and the steps for building? I successfully built it in Windows 7 with VS14 and Ubuntu14.04 GCC4.8 with tools off.

[2016-11-11 23:20] rubadub commented on #467
This is on CentOS 7.2 with GCC 4.8.5. I don't think the OS or CC matters, the tools directory is in the CMakeLists.txt install target regardless -DBUILD_TOOLS setting.

[2016-12-06 21:03] kozlac commented on #462
Closing this as we already let the release loose. The only thing to remember is that PBSAM is not building on Windows as of yet.

[2016-12-06 21:03] #462 closed

[2016-12-06 21:04] kozlac commented on #464
I believe the changes have been made to all CMakeLists.txt files.

[2016-12-06 21:04] #464 closed

[2016-12-06 21:05] kozlac commented on #447
PBAM is building on Windows now.

[2016-12-06 21:05] #447 closed

[2016-12-06 21:31] kozlac opened #469 "SLURM and APBS"
From one of our users:

Hi everyone,

I was wondering if anyone has any experience with using the SLURM workload manager (https://slurm.schedmd.com/) along with APBS? I have installed an MPI-compiled APBS-1.4.2 and it works just fine for small tests when I run it with the mg-auto, but when I use mg-para I get:

    Parsing input file oneMol.in...
    read
    Parsed input file.
    Got paths for 1

[2016-12-06 21:43] kozlac commented on #469
The issue was in the apbs/CMakeLists.txt file.  The maloc folder was before the declaration of `HAVE_MPI_H` thus all maloc's preprocessor `#if define` were evaluating to false. See commit e3db9c1

[2016-12-06 21:43] #469 closed

[2017-01-12 19:44] kozlac commented on #467
Solved with commit d6bc46a.

[2017-01-12 19:44] #467 closed

[2017-01-13 23:51] kozlac opened #470 "BUILD_SHARED_LIBS Not Working With Externals"
Build time fails when using the option -DBUILD_SHARED_LIBS=ON with Geoflow, BEM, and PB(S)AM.

[2017-02-19 16:26] speleo3 opened #471 "mmCIF based PQR format"
This is a feature request. It would be great if pdb2pqr and apbs could replace the PQR format with a modified mmCIF based format which simply adds a charge (e.g. `_atom_site.pqr_partial_charge`) and a radius column (e.g. `_atom_site.pqr_radius`).

Advantages over current PQR format:

- no whitespace and/or column alignment issues
- every software which support mmCIF format could read those files

[2017-02-22 14:08] sobolevnrm commented on #471
This is a feature we've been contemplating for a while but have delayed
because of the slow rate of mmCIF adoption by visualization and simulation
programs.  However, since you represent one of the major visualization
programs, I think we should escalate this in priority.

Thanks!

On Sun, Feb 19, 2017 at 8:26 AM, Thomas Holder <notifications@github.com>
wrote:

[2017-02-27 20:58] hofmockel opened #472 "License?"
Is this software licensed? I don't see a software license in the root directory so is it Public Domain?
https://en.wikipedia.org/wiki/Software_license

[2017-02-27 22:01] keith923 commented on #472
Thanks for pointing this out.  See https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/LICENSE.md.

[2017-02-27 22:01] #472 closed

[2017-04-05 16:33] gforsyth commented on #370
Hi, I'm one of the devs working on pygbe -- we're happy to chat whenever and answer any questions.

[2017-04-06 09:51] tonigi commented on #439
By the way, Py 3.6 again changed the behaviour of dictionaries, which are [now ordered](http://stackoverflow.com/questions/39980323/dictionaries-are-ordered-in-cpython-3-6) . Still, it is probably a good idea to be explicit in the use of OrderedDict if the goal is to be deterministic.

[2017-04-06 17:14] sobolevnrm commented on #439
Thanks!

On Thu, Apr 6, 2017 at 2:51 AM, Toni G <notifications@github.com> wrote:

[2017-04-10 11:55] sobolevnrm commented on #370
Great; thank you very much!

On Wed, Apr 5, 2017 at 9:33 AM, Gil Forsyth <notifications@github.com>
wrote:

[2017-04-18 10:10] guowei-he opened #473 "APBS tools binary permissions"
Thanks for the great software!

It seems that the APBS tools binary permissions are not set with execute permission. This originated from the CMake install-directories default permission in the CMakeLists.txt from APBS root directory.

[2017-04-23 00:44] sobolevnrm commented on #473
Thank you very much for posting this issue and for the pull request!

On Tue, Apr 18, 2017 at 4:10 AM, guowei-he <notifications@github.com> wrote:

[2017-04-23 00:44] #473 closed

[2017-05-12 08:57] howiedlut opened #475 "Problem of installing apbs-1.4.1"
I tried apbs-1.4.
And I used `cmake -DCMAKE_INSTALL_PREFIX=/opt/apbs -DENABLE_BEM=off -DENABLE_iAPBS=on -DENABLE_GEOFLOW=ON ..` option to install apbs-1.4.1, and could not compile it with libapbs_geoflow successfully.
It seems the installation skipped the geoflow installation which is needed by g_mmpbsa.
Part of the output after 'make' is as follows:

[code]
So, what should I do to compile apbs wi

[2017-05-12 15:30] kozlac commented on #475
@howiedlut is there a specific reason you are using APBS 1.4.1? The reason I'm asking is that from your post it seems you want to use Geoflow. However, Geoflow was a preliminary implementation in this version. If the APBS version is not an issue I would recommend downloading [APBS 1.5](https://github.com/Electrostatics/apbs-pdb2pqr/releases).

Otherwise, could you please attached the full cmake an

[2017-05-13 01:25] howiedlut commented on #475
@kozlac The reason I want to use Geoflow is that [g_mmpbsa](https://rashmikumari.github.io/g_mmpbsa/Download-and-Installation.html#install-with-apbs14) needs libapbs_geoflow.

However, I could find this file in the lib folder of the pre-compiled binary release of APBS-1.4.1 but not in the folder I compiled myself.

Thank you again for your help.

[2017-05-13 02:26] howiedlut commented on #475
Now I tried compiling the source codes of [APBS-1.5](https://github.com/Electrostatics/apbs-pdb2pqr/releases).

First of all, I copied [fetk](https://github.com/Electrostatics/FETK/tree/0c6fdeabe8929acea7481cb1480b5706b343b7e0) and [geoflow_c](https://github.com/Electrostatics/geoflow_c/tree/e8ce510a670e0b7f3501e72be6141fc20328f947) to the externals folder of apbs. And I add `set(EIGEN3_INCLUDE_DI

[2017-05-14 00:15] kozlac commented on #475
@howiedlut did you download the source code in a tar or are you cloning from the repo? It already looks like you did but I just want to make sure that if you are cloning from the repo you are also downloading the submodules for geoflow and fetk repos with:

    ~$git submodule init
    ~$git submodule update

After that your cmake build command looks good. Can you try to build with make without th

[2017-05-16 06:19] howiedlut commented on #475
Thank you for your reply. I could successfully install APBS-1.5 now.

However, **APBS-1.4.1** and **libapbs_geoflow** is needed for me because [g_mmpbsa](https://rashmikumari.github.io/g_mmpbsa/Download-and-Installation.html#install-with-apbs14) depends on APBS-1.4.1 and the API might have changed in later version of APBS.

So, could you please give me the source code of APBS-1.4.1 with geoflow su

[2017-05-17 17:25] keith923 commented on #475
APBS-1.4.1-binary may be found here:  https://github.com/Electrostatics/apbs-pdb2pqr/tree/1.4.1-binary-release/apbs
With the build instructions here: https://github.com/Electrostatics/apbs-pdb2pqr/blob/1.4.1-binary-release/apbs/BUILD.md

It's very different building this old version compared to master.  It's also got an old implementation of Geometric Flow that is known to have bugs.

- Keith

Fro

[2017-05-18 00:46] howiedlut commented on #475
@kozlac @keith923 Thank you for your reply.

[2017-05-18 00:46] #475 closed

[2017-06-08 19:13] ncclementi opened #476 "APBS 1.5 binary installed, doesn't run multiple tthreads!"
I recently download the binary from the 1.5 version and after fixing the LD_LIBRARY_PATH, I was able to run a case. However it doesn't run in multiple threads.
The same input file, runs in multiple thread in a 1.4.1 version I had installed. I tried to install the 1.5 binary in different machines and I always get the same problem. It only runs in 1 thread.

Any ideas on what can be causing this?

F

[2017-06-08 19:19] keith923 commented on #476
Hi Naty,

Given that you are setting LD_LIBRARY_PATH, I'm assuming that you are on a linux box.  Can you tell the distribution and version?  It would also be helpful if you let me know how you have determined that it's running with a single thread.

Thanks,

- Keith

From: Naty Clementi <notifications@github.com>
Reply-To: Electrostatics/apbs-pdb2pqr <reply@reply.github.com>
Date: Thursday, June 8

[2017-06-08 19:50] ncclementi commented on #476
Hi Keith,
Yes you are right I'm on a linux distribution, precisely I'm on Ubuntu 16.04.
What I did to determine the single thread was by launching  `htop` in a separate terminal and looking how the cores were working. When I used the old version (apbs 1.4.1) all of them cores are at 100% while with the new version only one.

[2017-06-12 18:53] keith923 commented on #476
Thanks for the additional information.  We'll have to dig into this a bit.  Thanks for your patience.

- Keith

From: Naty Clementi <notifications@github.com>
Reply-To: Electrostatics/apbs-pdb2pqr <reply@reply.github.com>
Date: Thursday, June 8, 2017 at 12:50 PM
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: "Star, Keith" <keith@pnnl.gov>, Comment <comment@noreply.github.com

[2017-06-12 19:44] ncclementi commented on #476
Thanks for the reply and looking forward to know what is going on :)

[2017-06-22 16:08] kozlac commented on #476
@ncclementi The reason the current version is not multithreading is that the compiler used to have multi-threading enabled by default which is not the case in newer versions. What you can do is compile APBS from source and enable multi-threading. If you need assistance doing this I'll be happy to help you.

[2017-06-22 19:17] ncclementi commented on #476
@kozlac Are you guys planning on release a multi-thread binary version? I tried to build from source couple of times and I haven't been successful, and had troubles following the instructions since they are spread out, some in the `master` branch and others in the `1.4.1`. In the build that is in master doesn't mention that you need to compile fetk, I found the instructions in the `1.4.1` branch b

[2017-06-26 22:46] sobolevnrm opened #479 "Units in geometric flow examples"
Are the units in the geometric flow examples really kcal/mol/A^n?  They should be kJ/mol/A^n.

[2017-06-26 22:55] keith923 commented on #479
Those files hail back to at least [Andrew](https://sourceforge.net/p/apbs/code/ci/master/tree/examples/geoflow/geoflow.in), and possibly from the Fortran code/paper.  I'll have to dig in to verify the latter.

[2017-06-26 23:12] keith923 commented on #479
I'm not trying to assert that the example is correct.  Only that the value there appears to have come from _Parameterization of a geometric flow implicit solvation model_.

The **Calculation procedure** section states:

[2017-06-27 00:51] sobolevnrm commented on #479
Same values as the paper as well?  Regardless, we should switch to kJ for
consistency with the rest of APBS.

On Mon, Jun 26, 2017 at 4:12 PM, Keith T. Star <notifications@github.com>
wrote:

[2017-07-05 02:20] sobolevnrm opened #481 "Complete UQ parameter discussion"
Someday I should finish https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/doc/apbs/errors.rst

[2017-07-05 02:23] sobolevnrm opened #482 "The PB(S)AM 3dmap keyword is redundant"
Per https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/doc/apbs/input/elec/3dmap.rst please replace it with the existing write command.

[2017-07-05 02:26] sobolevnrm opened #483 "Why are ``srfm``, ``srad``, etc. included in ``bem-manual`` input files when the surface type is determined by the mesh?"

[2017-07-05 02:26] sobolevnrm opened #484 "If there's only one mode, then we can change ``bem-manual`` to just ``bem`` or ``tabi``?"

[2017-07-05 02:29] sobolevnrm opened #485 "It would be nice if all APBS-related code used kJ/mol."
Some of the new additions (TABI, PB(S)AM) either use kcal/mol or offer multiple units as an option.

[2017-07-05 02:30] sobolevnrm opened #486 "What are the units for dRot in PB(S)AM?"

[2017-07-05 02:45] lwwilson1 commented on #483
``srad`` is used by TABI-PB as the probe radius parameter that's fed into MSMS or NanoShaper when either one is called to build a surface. ``sfrm`` and ``swin``, however, are not used; I can remove these.

[2017-07-05 02:49] lwwilson1 commented on #484
I can change the flag to ``tabi`` if you don't mind

[2017-07-05 02:53] sobolevnrm opened #487 "PB(S)AM should make better use of the 'mol id' flags"
Add a mol id flag rather than have an implicit ordering of the diff keywords.

[2017-07-05 02:53] sobolevnrm opened #488 "The PB-(S)AM dx keyword should not exist; please replace it ASAP with the write command."

[2017-07-05 03:00] sobolevnrm opened #489 "It would be better to generalize the READ input file section section of the input file rather than use the exp command."
This command also needs to be cleaned up – it’s too fragile.

[2017-07-05 03:04] sobolevnrm opened #490 "The gamma keyword uses two different sets of units..."
... in APOLAR and ELEC geoflow.  We need to reconcile these.

[2017-07-05 03:13] sobolevnrm opened #491 "Add LPBE/NPBE support to geometric flow or remove the ion and lpbe keywords."
Need to remove ion and lpbe keywords from geoflow

[2017-07-05 03:15] sobolevnrm opened #492 "If there’s only one mode, then we can change the keyword from geoflow-auto to just geoflow."

[2017-07-05 03:16] sobolevnrm opened #493 "The PB-(S)AM grid2d keyword should not exist; please replace it ASAP with the write command."

[2017-07-05 03:17] sobolevnrm opened #494 "The PB-(S)AM gridpts keyword should not exist; it’s duplicative of the existing dime keyword!"

[2017-07-05 03:18] sobolevnrm opened #495 "It would be better to generalize the READ input file section section of the input file rather than use the imat command."
This command also needs to be cleaned up – it’s too fragile.

[2017-07-05 03:19] sobolevnrm opened #496 "The integer flag values for mesh should be replaced by human-readable strings."

[2017-07-05 03:20] sobolevnrm opened #497 "The msms keyword should be removed and replaced with a more general alternative: either the mesh surface option in bem-manual or the existing APBS srfm (elec)."

[2017-07-05 03:22] sobolevnrm opened #498 "If there’s only one mode to PBAM, let’s call it pbam instead of pbam-auto."

[2017-07-05 03:23] sobolevnrm opened #499 "Resolve unit confusion with geometric flow press keyword and the apolar press keyword."

[2017-07-05 03:27] sobolevnrm opened #500 "The dynamics part of the PB-(S)AM code should be moved out of the ELEC section."

[2017-07-05 03:28] sobolevnrm opened #501 "The PB-(S)AM salt keyword should be eradicated and replaced with the ion keyword."

[2017-07-05 03:34] sobolevnrm opened #502 "The PB-SAM surf command is redundant with and should be replaced by the existing usemesh command."

[2017-07-05 03:34] sobolevnrm opened #503 "Add a constant keyword (e.g., like position) before the {pos} argument of term."

[2017-07-05 03:35] sobolevnrm opened #504 "We need documentation for tolsp."

[2017-07-05 03:37] sobolevnrm opened #505 "It would be nice to incorporate the xyz functionality into the READ input file section block."

[2017-07-05 03:52] sobolevnrm commented on #484
That would be great; thanks!

On Tue, Jul 4, 2017 at 7:49 PM Leighton W. Wilson <notifications@github.com>
wrote:

[2017-07-05 03:53] sobolevnrm commented on #483
Can you please update the code/documentation accordingly?

Thanks!

On Tue, Jul 4, 2017 at 7:45 PM Leighton W. Wilson <notifications@github.com>
wrote:

[2017-07-05 03:54] lwwilson1 commented on #483
Will do

[2017-07-05 04:12] Jiahuic commented on #485
I just changed the unit in TABI from kcal/mol to kJ/mol.

[2017-07-05 13:38] sobolevnrm commented on #485
Thanks!

On Tue, Jul 4, 2017 at 9:12 PM, Jiahui Chen <notifications@github.com>
wrote:

[2017-07-05 20:10] #484 closed

[2017-07-05 20:10] #483 closed

[2017-07-21 17:41] chenzhao-CZ opened #506 "No heavy atoms found for RNA coordinates"
I have encountered problems when I tried to generate pqr file for APBS using AMBER force filed on a RNA molecule. The error message is something like no heavy atoms found. However, the coordinates is just a regular RNA molecule that is consistent with AMBER naming scheme. What should I try to solve this problem?

[2017-07-21 17:48] kozlac commented on #506
Hello @chenzhao-CZ, could you tell us what if you are using PDB2PQR (server or local install, if local what version?) and maybe share with us the pdb file you are using?

[2017-07-24 15:03] chenzhao-CZ commented on #506
Sorry for the delayed reply as I was traveling the last weekend. I have PDB2PQR version 2.1.1 on a local machine. The PDB file has PDBID 4FAQ. Thank you very much!

[2017-10-16 15:00] thomas836 opened #507 "Windows binary at Sourceforge"
Hi,

I tried to run the windows binary currently, however I noted, that APBS didn't use multithreading and only used 1 core out of 12 possibles of the CPU. Additionally, when I tried to run the parallel mg mode the program instantly crashed. This happened for the binaries of the 1.5, 1.4.1 and 1.4.2 build. The log file says, that the APBS version wasn't compiled with MPI in case for the mg-para.
I

[2017-10-16 20:11] kozlac commented on #507
Hello @fubula , we usually don't distribute the binaries with MPI support since not every system will have the necessary libraries or capabilities. For the multi-threading, that was on oversight. The compilation flag for multi-threading used to be enabled by default which changed at some point and we failed to noticed. I can create a binary with multi-thread support and let you know as soon as is

[2017-10-17 01:57] sobolevnrm commented on #507
Hi @kozlac, please create the multi-thread support binary regardless.  Thanks!

[2017-10-22 14:01] jwhowarth opened #508 "Source code releases for APBS-1.5 are missing source code for external subdirectories"
Both the zip and tar.gz source code release of APBS-1.5 are unbuildable because they were packaged without the contents of the external subdirectories. The apbs/externals/bem, apbs/externals/fetk, apbs/externals/geoflow_c, apbs/externals/mesh_routines and apbs/externals/pb_s_am subdirectories are all unpopulated.

[2017-10-23 21:31] kozlac commented on #507
@fubula I'm hoping to have it by tonight or tomorrow.

[2017-10-23 21:33] kozlac commented on #508
hello @jwhowarth are you downloading from the github repo or sourceforge. Also, are you downloading the source code or the binaries?

[2017-10-23 23:11] jwhowarth commented on #508
The source archives from https://github.com/Electrostatics/apbs-pdb2pqr/releases both contain empty external subdirectories. There are no 1.5 source files on sourceforge.

[2017-11-03 16:47] kozlac commented on #507
@fubula, the windows binary with thread support is up. Thank you for your patience.

[2017-11-03 16:47] #507 closed

[2017-11-03 17:02] kozlac commented on #508
Hello @jwhowarth, since the source code is automatically generated by the github repository I reached to the github team (see below). In short, it is not currently possible to include the source code for submodules. Thus I see two possibilities, 1) Clone the repo and checkout the release tag and then do submodule init and update. 2) Within the current source code there's a gitsubmodule file with a

[2017-11-03 17:02] #508 closed

[2018-02-27 21:33] skigirl618 opened #509 "Error message that I have no idea how to fix"
I am trying to run a PQR file I made in pdb2pqr through apbs and I keep getting this error message:
Vcom_ctor2: process 0 of 1 is ALIVE!
Valist_readPQR:  Error parsing atom 4111!
Please double check this atom in the pqr file, e.g., make sure there are no concatenated fields.
Error reading molecules!

I am not good with code at all so I have no idea how to fix this or if it is an issue with the ori

[2018-02-27 21:58] kozlac commented on #509
Hello @skigirl618, it seems that the issue is in the pqr file that is being provided to APBS. You can open the pqr file with any text editor and go to atom 4111 and make sure that it follows the right format (i.e. compare it to the other atoms that are being read correctly. Most likely, one of the values has more significant digits and is running into the next one. You should be able to separate t

[2018-02-28 19:16] kozlac commented on #509
The problem was some of the (x, y, z) values for the ATOM records in the pqr file were concatenated, e.g.:

`ATOM   1234  AB  ABC   123      53.070  30.252-100.167 -0.0000 1.0000`

The solution is to make sure there is a space between them:

`ATOM   1234  AB  ABC   123      53.070  30.252 -100.167 -0.0000 1.0000`

[2018-02-28 19:16] #509 closed

[2018-04-08 02:52] dplizyy opened #510 "g_mmpbsa calculation"
Hi, developers of APBS,

Here I report a bug of APBS in reading PQR file.

I have some PQR files in ambPQR format. When I run APBS calculation, I got the following error information:

Parsing input file p2AaZppA.in...
NOsh:  Deprecated use of ION keyword! Use key-value pairs
NOsh:  Deprecated use of ION keyword! Use key-value pairs
NOsh:  Deprecated use of ION keyword! Use key-value pairs
NOsh:  D

[2018-04-09 03:08] sobolevnrm commented on #510
Hello --

I have Cc'ed some of the other developers for their help with this issue.
I think the primary problem is the fact the coordinate fields run
together.  If you use the "add whitespace" option with PDB2PQR, it should
resolve this issue.

Thank you,

Nathan

On Sat, Apr 7, 2018 at 7:52 PM, dplizyy <notifications@github.com> wrote:

[2018-04-09 06:47] dplizyy commented on #510
However I didn't use PDB2PQR, I used a one step calculationcommand to calculate g_mmpbsa between receptor and ligand: g_mmpbsa -f md.xtc -s md.tpr -n index.ndx -i pbsa.mdp -pdie 2 -pbsa -decomp -tu ns
If calculation was correct, I will obtain six files: energy_MM.xvg, contrib_MM.datpolar.xvg, contrib_pol.datapolar.xvg, contrib_apol.dat. But, now I got two additional files: pErjddLA.in and pErjddLA

[2018-04-10 17:11] dvdvbrn opened #511 "calculating non-protein electrostatics"
Hello everyone,

I don't think this issue with APBS, but rather with me and my input files. If there is more preferred resource for this type of questions please redirect me there, as of now I will ask it here...

I am trying to calculate electrostatic potential of nylon crystal with APBS, but the calculation is being killed with this kind of output:

=======================================
This e

[2018-04-10 17:15] dvdvbrn commented on #511
Sorry for the junk in the upper half of comment - afterlunch brain shutdown issues :(

[2018-04-10 17:39] kozlac commented on #511
Hello @dvdvbrn , it may be memory related since at the end of calculation one the memory usage is about 13gigs. What are your system specs? If you can share your .in, the io.mc created after running APBS, and .pqr files I could make sure nothing else is going on. If so, please send them to juan.brandi-lozano@pnnl.gov. Thanks!!

[2018-04-11 15:05] kozlac commented on #510
Hello @dplizyy , like @sobolevnrm  said, the problem arises from the concatenated fields. You mentioned that you did not use PDB2PQR to obtain this file. Which software did you use?

[2018-04-16 01:44] dplizyy commented on #510
APBS

2018-04-16

lidongping1228

发件人：Juan <notifications@github.com>
发送时间：2018-04-11 23:05
主题：Re: [Electrostatics/apbs-pdb2pqr] g_mmpbsa calculation (#510)
收件人："Electrostatics/apbs-pdb2pqr"<apbs-pdb2pqr@noreply.github.com>
抄送："dplizyy"<lidongping1228@sina.com>,"Mention"<mention@noreply.github.com>

Hello @dplizyy , like @sobolevnrm said, the problem arises from the concatenated fields. You mentio

[2018-04-17 19:09] skigirl618 opened #512 "No idea what is wrong now"
I am trying to run a PQR file I made in pdb2pqr through apbs and I keep getting this error message:
Vcom_ctor2: process 0 of 1 is ALIVE!
Valist_readPQR: Error parsing atom 4108!
Please double check this atom in the pqr file, e.g., make sure there are no concatenated fields.
Error reading molecules!

I have went and put spaces between all the values that did not have spaces in the pqr file and trie

[2018-04-17 19:32] sobolevnrm commented on #512
Hello --

As before, we will need a copy of the PQR file you are using to help you
with this request.

Thank you,

Nathan

On Tue, Apr 17, 2018 at 12:09 PM, skigirl618 <notifications@github.com>
wrote:

[2018-04-17 20:08] skigirl618 commented on #512
Hello Nathan,

    Thanks for the help! It is attached here.

Sincerely,
    Abbey Bennett

On 2018-04-17 20:32, Nathan Baker wrote:

REMARK   1 PQR file generated by PDB2PQR (Version 2.1.1)
REMARK   1
REMARK   1 Command line used to generate this file:
REMARK   1 --with-ph=7.0 --ph-calc-method=propka --apbs-input --ff=parse --verbose --summary CC2_PH_MD_and_Energy_min_with_helix_and_sheets.pdb CC

[2018-04-17 22:15] kozlac commented on #512
Hello @skigirl618, can you send me your pqr file and the .in file you are giving to apbs to juan.brandi-lozano@pnnl.gov? I think the pqr above isn't complete. Thanks!!

[2018-04-18 18:41] skigirl618 commented on #512
Hello Juan,

    I sent you the files so I am just checking that they made it to you!

Sincerely,
    Abbey

On 2018-04-17 23:15, Juan wrote:

[2018-04-18 19:09] kozlac commented on #512
Hi!! Yes I got them. Let me have a look at them and I'll get back to you as soon as possible.

--Juan Brandi

Sent from my Android phone using TouchDown (www.symantec.com)

-----Original Message-----
From: skigirl618 [notifications@github.com]
Received: Wednesday, 18 Apr 2018, 11:42AM
To: Electrostatics/apbs-pdb2pqr [apbs-pdb2pqr@noreply.github.com]
CC: Brandi-Lozano, Juan M [juan.brandi-lozano@pn

[2018-04-24 17:52] kozlac commented on #512
Hello @skigirl618 , were you able to run your job?

[2018-04-24 19:03] skigirl618 commented on #512
Hello Juan,

  Sorry for not responding! Yes I could run it on that website!

Sincerely,
  Abbey

On 2018-04-24 18:52, Juan wrote:

[2018-04-24 21:05] #512 closed

[2018-06-20 14:11] bieniekmateusz opened #513 "The webserver is down"
Is the server being moved to a new location? Thanks

[2018-06-20 20:02] kozlac commented on #513
Hello @bieniekmateusz, I just went to the server and it seems to be running. Are you having problems reaching the site or running the jobs?

[2018-06-21 22:24] bieniekmateusz commented on #513
I still get the error "file not found" as shown on the picture below. with the link http://www.poissonboltzmann.org/nbcr-222.ucsd.edu/pdb2pqr/

![nopagefound](https://user-images.githubusercontent.com/1365434/41748507-1b490eb0-75aa-11e8-8c2d-f40d98efb641.png)

Is this the same link you checked?

[2018-06-22 15:59] kozlac commented on #513
Hello, @bieniekmateusz  I fixed the link and you should be able to click and be directed to the server. You may need to reload/refresh the page to get the changes. Please let me know if the problem persists. Thank you!!

[2018-06-22 18:41] bieniekmateusz commented on #513
But I tried private mode/tor and it did the same message occurs right now.

I'll try later again, in case you mean to say that it is a DNS-related issue.

Thank you

[2018-06-24 02:30] sobolevnrm commented on #513
Thanks!

Elvis, is this something you would want to add?

Thanks again,

Nathan

From: Mateusz Bieniek [mailto:notifications@github.com]
Sent: Thursday, June 21, 2018 03:24
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Electrostatics/apbs-pdb2pqr] The webserver is down (#513)

Oh, only now I've checked. The README.md

[2018-07-24 09:18] speleo3 commented on #506
See https://sourceforge.net/p/pdb2pqr/mailman/message/33298335/

[2018-07-26 16:54] kozlac commented on #476
Hi @wleagle, are you downloading the binaries from Sourceforge or GitHub? Also, on what platform are you trying to build from source?

[2018-07-27 07:47] wleagle commented on #476
Hi! I download the binary from sourceforge, but the source code is cloned
from Github. I built it on ubuntu 18.04, using cmake and make -jN.

On Fri, Jul 27, 2018 at 12:54 AM, Juan <notifications@github.com> wrote:

[2018-07-27 16:18] kozlac commented on #476
I'll check the binaries in Sourceforge. In the meantime, there are [binaries here](https://github.com/Electrostatics/apbs-pdb2pqr/releases) in GitHub that should be multi-threading. Also, to build from source, you need to also initialize and update the submodules (via command git submodule init and git submodule update) after cloning the repo. Most likely the build is failing for this reason.

Onc

[2018-07-29 22:34] wleagle commented on #476
Thank you. I didn't notice the ENABLE_OPENMP section in cmakelist. I will
try this.

On Sat, Jul 28, 2018, 00:18 Juan <notifications@github.com> wrote:

[2018-08-07 19:57] jaredsagendorf opened #517 "Which takes precedence - "parm" or pdb2pqr?"
Hello, suppose you read in charge/radii/well parameters using the READ parm ... END statement, but you are also reading in in .pqr files with assigned charges and radii.

Which takes precedence? Meaning which charge and radii parameters are actually being used?

Thanks.

[2018-08-13 13:43] sobolevnrm commented on #517
Hello --

If you read in both a PQR and parameter file, you should get a warning from
APBS that the PQR charge/radius information will be over-written by the
information in the parameter file.

Thank you,

Nathan

On Tue, Aug 7, 2018 at 12:57 PM jaredsagendorf <notifications@github.com>
wrote:

[2018-09-13 16:57] bieniekmateusz opened #518 "Web Server: "Help" button - 404 page does not exist"
On the URL: http://nbcr-222.ucsd.edu/pdb2pqr_2.1.1/

Thanks

[2018-10-08 18:34] mjag1898 opened #519 "extension .py.in import fails"
my python installation (2.7 through miniconda) doesn't recognize .py.in files during import. For example, import pdb2pqr fails to find pdb2pqr.py.in.

Do I need to switch python versions, or is there another workaround?

[2018-10-08 18:40] kozlac commented on #519
Hello @mjag1898, It sounds that you have the source files for pdb2pqr. In order to install and run PDB2PQR please follow [these instructions](https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/pdb2pqr/INSTALL.md). Once you configure and run the scons and scons install you should have a pdb2pqr.py file in the selected installation folder.

If you need further help, please let me know. Thank

[2018-10-08 18:54] #519 closed

[2018-11-06 21:00] matiasmartineza commented on #437
I know it's been a while, but I'm having the same issue and I don't know how to figure it out. Could you help me with this?

[2018-11-06 21:42] matiasmartineza commented on #437
I have not installed APBS but I installed maloc. I get the same error when installing GAMer, but with maloc.h "checking maloc/maloc.h usability... no | checking maloc/maloc.h presence... no". I've been trying adding `--libdir=/home/matiasmartinez/Descargas/gamer/include`, because I have the maloc.h file in that directory, but it keeps throwing that same error.

[2018-11-07 17:37] kozlac commented on #437
You should add the -I option to include any directories where the compiler should look for header files. E.g:
`gcc -I/path/to/my/header my_program.c -o MyProgram`

[2019-01-07 17:17] mwfranklin opened #520 "MacOS problems"
I'm trying to get APBS python binding built so that I can use pdb2pka.

generates build files with no errors. I have multiple python versions installed so I have to specify the library path. But when I run "make" I end with the following error:

cd /Users/meghan/Documents/PhD/GitHubProjects/apbs-pdb2pqr/apbs/src && /usr/local/Cellar/cmake/3.13.2/bin/cmake -E cmake_link_script CMakeFiles/apbs_routi

[2019-01-08 02:37] sobolevnrm commented on #520
Hi Meghan –

I’m Cc’ing Juan and others for help with your question.

Thank you,

Nathan

From: Meghan Franklin <notifications@github.com>
Sent: Monday, January 07, 2019 09:17
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Electrostatics/apbs-pdb2pqr] MacOS problems (#520)

I'm trying to get APBS python binding built so th

[2019-01-08 03:01] kozlac commented on #520
Hello @mwfranklin, usually that error shows up when there's a mismatch of 32 vs 64-bit programs/compilers. Please make sure that all of them agree on the architecture (c/c++ compiler, swig, etc). Please let me know if the problem persists. Thanks!!

[2019-01-08 14:57] mwfranklin commented on #520
Swig and clang and gcc are all 64-bit, and I can't tell about cmake. Is there anything else I should check?

[2019-01-08 15:53] kozlac commented on #520
How about the python library? You can [check python's architecture like this](https://stackoverflow.com/questions/1405913/how-do-i-determine-if-my-python-shell-is-executing-in-32bit-or-64bit-mode-on-os). Also, could you attached a text file with all the error outptut? Thanks!!

[2019-01-08 16:08] mwfranklin commented on #520
Yup, also 64-bit.

The text file includes the output of the cmake command and then make.

CB-C02V608QJ1G:apbs meghan$ cmake . -DENABLE_PYTHON=ON -DBUILD_SHARED_LIBS=ON -DPYTHON_LIBRARY=/System/Library/Frameworks/Python.framework/Versions/2.7/lib
-- The C compiler identification is AppleClang 10.0.0.10001145
-- The CXX compiler identification is AppleClang 10.0.0.10001145
-- Check for working C com

[2019-01-08 16:19] kozlac commented on #520
@mwfranklin could you run CMake again with `-DBUILD_SHARED_LIBS=OFF` and then make in a clean build folder?

[2019-01-08 16:38] kozlac commented on #520
Yeah, CMake is trying to use the Linux linking system that is different from MacOS X. If you were building in a Unix system you do need the flag on. Glad I could help and I'm closing this issue. Thanks!

[2019-01-14 16:22] #520 closed

[2019-01-17 18:21] #498 closed

[2019-01-17 22:44] #503 closed

[2019-01-25 22:31] #502 closed

[2019-02-01 22:19] #501 closed

[2019-02-01 23:52] #500 closed

[2019-02-04 21:12] #497 closed

[2019-02-06 22:09] #496 closed

[2019-02-07 19:05] #494 closed

[2019-02-25 23:40] etillym opened #521 "missing modified phosphorylated residue in PQR file"
I am a new user
I am using the web interface to produce the PQR AND APBS files, for visualization in VMD.
I am visualizing an SH2 domain binding to a phosphorylated tyrosine within a peptide. File is 1LCJ
I was able to visualize the electrostatic potential of thee SH2 domain nicely in VMD
The peptide is missing the modified phosphorylated tyrosine (designated PTR) residue 204.

It seems that it is

[2019-03-03 17:34] sobolevnrm commented on #521
Hello,

This error typically means that the force field you’ve chosen does not have parameters for your residue. You need to supply those parameters yourself of chose a force field that supports your residue. I’ve added @Engel, Dave W<mailto:dave.engel@pnnl.gov> , @Brandi-Lozano, Juan M<mailto:juan.brandi-lozano@pnnl.gov> , @Offor, Elvis<mailto:elvis.offor@pnnl.gov> , and @Rallo, Robert<mailto:rob

[2019-03-04 19:26] etillym commented on #521
@sobolevnrm
thanks for your response.  Does one of the provided force field choices in the web resource to generate PQR file recognize phosphorylated residues (PTR = phosphotyrosine)?

[2019-05-03 06:08] yurivict opened #522 "Please strip share/apbs/tools/bin/* executables"
[code]

[2019-06-11 10:03] skigirl618 opened #524 "PDB with 2 ZN+ ligands"
Hello,

         I have a PDB file that contains 2 added ZN+ ligands that I need to look at the electrostatic potential. In order to use APBS I tried to run the file through PDB2PQR but I got an error message. I do not know if I need to use different settings, etc. so I was looking for some advice. I have attached my PDB below.
[Refined C1 domain with both zincs copy.txt](https://github.com/Electr

[2019-06-11 21:36] #492 closed

[2019-06-12 17:02] kozlac commented on #524
Hello @skigirl618! To include ligands in the calculations you need to provide their corresponding mol2 files/
Please look at [this example](https://apbs-pdb2pqr.readthedocs.io/en/latest/examples/parameterizing-ligands.html) and let me know if you get stuck. Thanks!

[2019-06-13 10:58] skigirl618 commented on #524
Hello Juan,

         I am working with homology models and I do not have mol2 files so how do I obtain those? In addition, it seems that there is only 1 upload slot of a mol2 file on the PDB2PQR server, but I have 2 ligands (so I assume I would have 2 files). How do I work around that? Thanks for the help!

Sincerely,
         Abbey

[2019-06-13 23:58] kozlac commented on #524
Unfortunately, we only support one ligand at the moment. To get the mol2 file you can go to http://davapc1.bioch.dundee.ac.uk/cgi-bin/prodrg/ and copy paste the relevant pdb entries.

[2019-07-30 14:33] Jerkwin opened #525 "Bug in psize.py?"
In `apbs-pdb2pqr/apbs/tools/manip/psize.py`, line 166

[code]

Should `n[1]/nsmall[i]` be `n[i]/nsmall[i]` ? Otherwise, I can't understand the logic.

[2019-08-01 13:11] sobolevnrm commented on #525
Hello--

This does look like a bug.  I'll check with others on the development team for a fix.

Thank you,

Nathan
________________________________
From: Jerkwin <notifications@github.com>
Sent: Tuesday, July 30, 2019 7:33 AM
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Electrostatics/apbs-pdb2pqr] Bug in psize.py? (#525

[2019-08-09 14:06] Jerkwin commented on #525
Hi Nathan,

Any responses from the development team? I would like to make sure this is indeed a bug.

Thanks,
Jicun

[2019-08-09 19:32] #525 closed

[2019-08-09 22:55] sobolevnrm commented on #525
Hello –

I apologize that I have not.  I will Cc them again.

Thank you,

Nathan

From: Jerkwin <notifications@github.com>
Sent: Friday, 9 August, 2019 07:06
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Nathan Baker <nathanandrewbaker@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [Electrostatics/apbs-pdb2pqr] Bug in psize.py? (#525)

Hi Nathan,

Any respons

[2019-08-09 23:11] Eo300 commented on #525
I went and patched a fix for this in the most recent commit f83c140.  Both psize.py files in the [apbs/tools/manip ](https://github.com/Electrostatics/apbs-pdb2pqr/tree/master/apbs/tools/manip) and [pdb2pqr/src](https://github.com/Electrostatics/apbs-pdb2pqr/tree/master/pdb2pqr/src) directories should now be reflected to use the index ```i```  instead of ```1```

[2019-08-11 16:31] sobolevnrm commented on #525
Jicun, we have made the change. Thanks for finding the error.

Sent from my iPhone

On Aug 9, 2019, at 3:56 PM, Nathan Baker <nathanandrewbaker@gmail.com<mailto:nathanandrewbaker@gmail.com>> wrote:

Hello –

I apologize that I have not.  I will Cc them again.

Thank you,

Nathan

From: Jerkwin <notifications@github.com<mailto:notifications@github.com>>
Sent: Friday, 9 August, 2019 07:06
To: Electr

[2019-08-12 13:56] Jerkwin commented on #525
Thanks for the fix.

[2019-08-23 16:27] Vcald opened #526 "github apbs compilation issue"
When trying to compile on fedora 30 x64 I get the follwoing error...
Any hint?

/usr/bin/cmake -S/mnt/usr/local/apbs-pdb2pqr/apbs -B/mnt/usr/local/apbs-pdb2pqr/apbs --check-build-system CMakeFiles/Makefile.cmake 0
/usr/bin/cmake -E cmake_progress_start /mnt/usr/local/apbs-pdb2pqr/apbs/CMakeFiles /mnt/usr/local/apbs-pdb2pqr/apbs/CMakeFiles/progress.marks
make -f CMakeFiles/Makefile2 all
make -f ext

[2019-08-23 17:22] kozlac commented on #526
Hello @Vcald! The build is failing because it's trying build against the RPC library and it doesn't seem to be on your LD path. Could you paste the output of the CMake configuration step? The CMake script checks if the library is present or not and shouldn't have included it if it wasn't present.

Could you please start on a fresh build folder. That is, make a new build folder and run the CMake an

[2019-08-23 18:14] Vcald commented on #526
There you go:
# git submodule init
Submodule 'apbs/externals/bem' (https://github.com/lwwilson1/TABIPB.git) registered for path 'apbs/externals/bem'
Submodule 'apbs/externals/fetk' (https://github.com/Electrostatics/FETK.git) registered for path 'apbs/externals/fetk'
Submodule 'apbs/externals/geoflow_c' (https://github.com/Electrostatics/geoflow_c) registered for path 'apbs/externals/geoflow_c'
Su

[2019-08-23 18:14] Vcald commented on #526
There you go:
# git submodule init
Submodule 'apbs/externals/bem' (https://github.com/lwwilson1/TABIPB.git)
registered for path 'apbs/externals/bem'
Submodule 'apbs/externals/fetk'
(https://github.com/Electrostatics/FETK.git) registered for path
'apbs/externals/fetk'
Submodule 'apbs/externals/geoflow_c'
(https://github.com/Electrostatics/geoflow_c) registered for path
'apbs/externals/geoflow_c'
Su

[2019-08-25 20:35] ktamiola opened #527 "apbs cmake compilation issue"
Ladies an gents, I wanted to report an `apbs` compilation issue.

Steps to reproduce:
1. Clone the repo.
2. Do git module init and updates.
3. Start `cmake src/`

Cmake version: `cmake version 3.15.2`

[code]

[2019-08-29 11:11] Vcald commented on #526
Dear Juan,
    thank you very much...this solved the problem...I have indeed the same problem when compiling openbabel...
What does rpc inclusion change in the program capabilities?

[2019-08-29 15:51] kozlac commented on #526
I'm glad it worked! RPC (remote procedure call) allows for programs to call procedures in other address spaces (i.e. other computers). In our case, we are only using rpc's xdr.h part which allows us to encode data regardless of the operating system. I'm guessing openbabel might use it for similar reasons.

[2019-08-29 15:51] #526 closed

[2019-08-30 10:56] ktamiola commented on #527
Thank you so much @kozlac . Indeed, a mistake was made at my end. I have sorted it out.

[2019-08-30 10:56] #527 closed

[2019-08-30 10:56] ktamiola commented on #527
Thank You so much for your help Juan. Indeed, the mistake was made on my
end.

On Tue, Aug 27, 2019 at 7:28 PM Juan <notifications@github.com> wrote:

--
Kamil Tamiola, PhD | CEO  at Peptone | https://peptone.io | My private
research profile https://tamiola.com
_______________
This email and any attachments thereto may contain private, confidential,
and privileged material for the sole use of the

[2019-09-05 16:46] amaurypm opened #528 "terminated by signal SIGSEGV (Address boundary error)"
Hello,
I am trying to run apbs with a viral capsid (> 30,000 residues) and apbs crash.
For example, the last lines of the output:
...
  Debye length:  7.8566 A
  Current memory usage:  34859.972 MB total, 34859.972 MB high water
  Using cubic spline charge discretization.
  Grid dimensions: 609 x 609 x 609
  Grid spacings: 0.813 x 0.812 x 0.813
  Grid lengths: 494.034 x 493.943 x 494.057
  Grid ce

[2019-09-05 17:43] kozlac commented on #528
Hello @amaurypm ! Could you share your `.in` and `pqr` file to help reproduce and debug the problem?

[2019-09-05 18:43] amaurypm commented on #528
Here they go.

[model_AAV2.zip](https://github.com/Electrostatics/apbs-pdb2pqr/files/3580757/model_AAV2.zip)

[2019-09-13 18:17] mathog opened #529 "Build failure on Centos 7"
Greetings.  First tried to use 1.5 binaries on Centos 7 but it has this problem:

[code]
Then tried to build from source:
[code]

Suggestions?  Thanks.

[2019-09-13 22:14] kozlac commented on #529
Hello @mathog, could you make sure the file `apbs/external/fetk/mc/src/aaa_inc/mc/mc.h` exists?
But most likely is because you are calling cmake from the build folder with ../CMakeList.txt and writing on the top-level folder messing up the paths. From a brand new clone, try this:
`user@pc: apbs$ mkdir build && cd build`
`user@pc: apbs/build$ cmake <cmake options> ..`
`user@pc: apbs/build$ make`

N

[2019-09-13 22:54] mathog commented on #529
The file exists (except it is externals, not external).  Its size is 1457 bytes.  The ../CMakeLists.txt
was the problem.  Using just ".." it dropped the Makefile in build, rather than putting it in apbs.  It is
compiling now.  Thanks!

[code]

[2019-09-13 23:15] mathog commented on #529
The build ran for a long time, then exited here:

[code]
It does that for 7.3.1 and 4.8.5 versions of the gnu compilers.

Thanks.

[2019-09-13 23:50] mathog commented on #529
Modified the source code of routines.c to get past that (moved "int i" to the line above) and it ran along fine until it stopped here:

[code]

Really?  The system has these:

[code]

Pretty odd error given that the Python.h are are in pretty much the expected locations.

[2019-09-14 00:33] kozlac commented on #529
Yeah, the `for(int i=....)` it depends on whatever standard is being used. Aa far as the python, it seems to me you are building on an HPC environment so you may need to load the python module just like you are loading the cmake one. This way the paths are added to the appropriate variables.

[2019-09-16 18:39] mathog commented on #529
Changes that to
[code]

and then it blew up on the link, with an even more Windows specific clause:

[code]

Why is that showing up on a Linux box???

[2019-09-16 22:41] mathog commented on #529
The fix for the python seems to be to comment out these two lines in apbs/tools/python/CMakeLists.txt

[code]
After that, and the "int i" fix above, the apbs build runs to completion.  I'm not actually sure that the python stuff did build, but at least it didn't keep the rest of it from building.

[2019-09-16 23:52] mathog commented on #529
Also, "make install" is broken.  It copied over a small subset of the shared libraries apbs was linked to.
When run from the "build" directory this moved them all, probably with some that are not needed.  Anyway, "apbs -help" ran afterwards.

[code]

[2019-09-17 20:42] kozlac commented on #529
Hi @mathog! You are correct. I seemed to have mistakenly pushed a change to the master branch for the python build. I'll correct these. I'll also fix the install rules. Thanks for letting us know!

[2019-09-25 20:25] #529 closed

[2019-09-25 20:26] #524 closed

[2019-10-18 19:06] PabloGGaray opened #530 "Alternative for the error: UnboundLocalError: local variable 'pH_opt' referenced before assignment"
Hi, I was using the [pdb2pqr server](http://nbcr-222.ucsd.edu/pdb2pqr_2.1.1/) to convert my pdb file to pqr file, using PROPKA to assign protonation states at pH 7 (AMBER selected as forcefield and for output naming). But the calculation ended with this error message in the file stderr from the server:

[code]

Then I downloaded apbs-pdb2pqr from this repository and, after the installation, I run

[2019-11-20 19:48] mwscandura opened #531 "GLIBCXX and CXXABI not found"
When attempting to invoke apbs get the following error:

`apbs: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by apbs)'
'apbs: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by apbs)'
'apbs: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by apbs)`

i'm unfamiliar with what these are, where they should be, why they'd be missing etc. I'm

[2019-11-21 22:16] sobolevnrm commented on #531
Hello -

I'm adding @Brandi-Lozano, Juan M <juan.brandi-lozano@pnnl.gov> and @Offor,
Elvis <elvis.offor@pnnl.gov> for their help with this issue.

Thanks,

Nathan

On Wed, Nov 20, 2019 at 2:48 PM mwscandura <notifications@github.com> wrote:

[2019-11-25 21:45] mwscandura opened #532 "getting UHBD potential from pdb"
multi-part issue here.
New to the software, trying to make an automated script for inputting pdb files and outputting UHBD grids.

general workflow for what I'm stuck on is
1. invoke pdb2pqr to create a subA.pqr file w/o water and w/ proper protonation, and create ABPS input file
`pdb2pqr --ff=amber --chain --drop-water --verbose --apbs-input --ph-calc-method=propka --with-ph=7.4 --propka-verbose

[2019-11-25 21:58] kozlac commented on #531
Hello @mwscandura , what linux distribution, or more precisely, what version of gcc are you using? That error occurs when the system's standard c/c++ libraries are incompatible with the compiler used to create the APBS binary.

[2019-11-25 22:31] kozlac commented on #532
Hello @mwscandura, if you look at the contents of the `subA.in` file you should see the cglen and fglen keywords. In order for APBS to output the potential map in UHBD format these (x,y,z) values should be the same in each direction (Hence the non-uniform error). The cglen dimensions should be large enough to encompass the entire molecule while the fglen ones should cover the area of interest. Ple

[2019-11-26 16:27] mwscandura commented on #532
I see. Any help or guidance on writing the python script would be excellent, I'm not familiar with the langauge

[2019-12-02 18:31] kozlac commented on #532
Hello @mwscandura, the following script will take all the `.in` files in a folder an change the `cglen` and  `fglen` to the corresponding max's and change the `write` format to uhbd as long as you have python 3.5 or higher installed. For example in an Ubuntu system just put the script in the same folder as all the `.in`  files and run: `python3  convert2uhbd.py`.

[convert2uhbd.zip](https://github

[2019-12-09 21:27] chelsell opened #533 "MPI-compiled version adds "PE0" to output file names"
I'm using APBS 1.5 on Ubuntu 18.04. In a variety of circumstances, APBS is adding the string "PE0" the end of filenames for outputs like dielectric maps. Here's an excerpt from an output file:

[code]

I don't appear to have any control over whether this string is added to the filenames--the input file certainly makes no mention of "-PE0"

This seems to be a known bug in older versions compiled wi

[2019-12-13 19:02] mwscandura commented on #532
Thanks again for this, Juan. I’ve only just had a chance to take a look and try to get it working with what I’m doing. It didn’t seem to go through in my first attempt and I got a few error messages back that maybe you can clear up:

line 6: import: command not found
line 8: syntax error near unexpected token `('
line 8: `def getMax(l):'

I’m running python 3.7.3

***  ***  ***  ***  ***  ***  ***

[2019-12-15 16:20] sobolevnrm commented on #533
Hi Cole -

This is the expected behavior.  Is it causing problems with other software
you're using in conjunction with APBS?

Thanks,

Nathan

On Mon, Dec 9, 2019 at 1:27 PM Cole Helsell <notifications@github.com>
wrote:

[2019-12-16 22:41] chelsell commented on #533
Hi Nathan,

Yeah, I was having trouble with this while running software that depends on APBS. I can definitely patch that software to not be so literal about the names of APBS outputs, but I was worried that other things might be systematically different between APBS with MPI and APBS without. Is there documentation that explains this difference and any others?

[2019-12-21 15:19] sobolevnrm commented on #533
Hello -

There are some differences in output formatting and naming of the files but
these should be the only differences you encounter.

Thank you,

Nathan

On Mon, Dec 16, 2019 at 2:41 PM Cole Helsell <notifications@github.com>
wrote:

[2019-12-23 23:37] danny305 commented on #471
Has this feature been implemented yet?

[2019-12-26 16:04] sobolevnrm commented on #471
Hi Danny -

I apologize but it hasn't been implemented.  Can you say more about the use
cases that need this feature?  We haven't gotten many other requests for
mmCIF-format support.

Thanks,

Nathan

On Mon, Dec 23, 2019 at 3:37 PM Danny Diaz <notifications@github.com> wrote:

[2019-12-26 16:15] danny305 commented on #471
We use the partial charge and Hydrogen atoms added by pdb2pqr to engineer a data structure to train CNN models. However, we are trying to switch our data engineering infrastructure to mmCIF files instead of pdb files bc they are more generic and pdb is being deprecated. Switching our infrastructure  from pdb to mmCIF files is contingent on generating the partial charges and the SASA values for eac

[2020-01-07 20:18] sobolevnrm commented on #471
Hi Danny -

We will continue to track this issue but feel that it will be best
addressed after we move APBS/PDB2PQR to the cloud (in progress).

Thank you,

Nathan

On Thu, Dec 26, 2019 at 11:15 AM Danny Diaz <notifications@github.com>
wrote:

[2020-01-07 20:55] danny305 commented on #471
Nathan,

I totally understand! How long do you believe this cloud migration will take?

Danny

[2020-01-10 16:57] kozlac commented on #532
Marking it as resolved.

[2020-01-10 16:57] #532 closed

[2020-01-12 16:53] sobolevnrm commented on #471
We are hoping to wrap it up in the next month or so.  Thanks.

On Tue, Jan 7, 2020 at 12:55 PM Danny Diaz <notifications@github.com> wrote:

[2020-02-12 16:35] mwscandura commented on #532
Hello Juan,

I’m unsure if you’ll still see replies in response to this. We corresponded over Github a few months ago regarding an issue with outputting UHBD formatted files in APBS.
Thanks again for the script. I made a small modification (turns out the dime also have to all be equal) and I’ve integrated it into my pipeline. I’m a researcher at the NIH this pipeline is a major part of my project,

[2020-02-13 00:15] kozlac commented on #532
Hello @mwscandura. I'm really glad I was able to help.  I think Juan Brandi, Computer Scientist with the APBS development team would do. Thanks!!

[2020-02-13 19:21] mwscandura commented on #532
Will do!

***  ***  ***  ***  ***  ***  ***  ***
Matthew Scandura
Postbaccalaureate Fellow, IRTA
Laboratory of Immune System Biology (LISB)
National Institute of Allergy & Infectious Diseases (NIAID)
National Institutes of Health (NIH), HHS

From: Juan <notifications@github.com>
Sent: Wednesday, February 12, 2020 7:15 PM
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Scandur

[2020-02-22 01:17] lvotapka opened #534 "Unable to use inputgen.py with python3"
Hi everyone,

I can't seem to be able to run inputgen with Python 3.7.4:

[code]

However, if I run with Python 2.7.12, it works:

[code]
And then the arguments are listed...

I am just getting used to using python3 myself, so I have no idea what might be causing this problem...

[2020-02-22 07:25] speleo3 commented on #534
There is an open pull request which fixes this: https://github.com/Electrostatics/apbs-pdb2pqr/pull/516

I don't know why it hasn't been merged yet.

[2020-02-24 18:59] lvotapka commented on #534
Ah so it looks like "async" is a reserved keyword in Python 3.

[2020-02-26 14:38] dvdesolve opened #535 "make doesn't install everything"
I'm trying to install `apbs` on Arch Linux following these steps:
[code]

However, it installs only the following files:
[code]
I can't find, for example, all extra binaries in `/tmp/dist/usr/bin`, `_apbslib.so` and so on. Seems like `install` target doesn't install all stuff properly.

One more thing to note. During `cmake` stage it complains about `rpc/rpc.h` not being found. Seems like it searc

[2020-02-26 17:19] kozlac commented on #535
Hello @dvdesolve! Thanks for providing the cmake `find_pacakage(TIRPC)`! We have seen this issue mainly in Fedora based systems. Also, I will look into why there are no rules to copy the missing binaries and libraries during installation. We are in the process of refactoring a lot of the code and will add these to the list of coming changes. Thank you!

[2020-03-05 08:29] ssunidhi opened #536 "Multivalue - libraries not found"
I updated the library path so that it points to </path/APBS-1.4.2.1-linux64/lib>, but still the following error is popping up each time:

./multivalue: error while loading shared libraries: libreadline.so.6: cannot open shared object file: No such file or directory

It is because the unzipped directory doesn't have libreadline.so.6 in the lib folder. Kindly advise what should be done to resolve th

[2020-03-05 18:11] kozlac commented on #536
Hello @ssunidhi, this is not an APBS error. It seems you are missing the readline library in your system. What OS are you using? In Ubuntu, for example, you would do:

`sudo apt install libreadline-dev`

[2020-03-26 17:28] RizzerOnGitHub opened #537 "baker.css no longer available for docs"
Docs at pdb2pqr/doc/userguide.html, pdb2pqr/doc/programmerguide.html, pdb2pqr/doc/pydoc/index.html, if not elsewhere, all use baker.css as stylesheet, from http://agave.wustl.edu/css/baker.css

But this url no longer exists. Should the css be changed? updated? removed?

[2020-03-27 13:14] waynebow94 opened #538 "unable to calculate surface potential at different pH values of whole capsid"
Hello everyone,

I'm new to the party and have some issues regarding calculating my surface potential and hope to find a solution for my problem.

I try to calculate the surface potential at different pH values with the following arguments for the pdb2pqr command line in APBS tools 2.1 in Pymol (e.g. pH 2): --with-ph=2.0 --ph-calc-method=propka

When I want to show the surface potential only the a

[2020-03-27 23:46] sobolevnrm commented on #538
Hello –

Can you please provide information about the PDB file you’re attempting to analyze?

Thank you,

Nathan

From: waynebow94 <notifications@github.com>
Sent: Friday, March 27, 2020 06:15
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Electrostatics/apbs-pdb2pqr] unable to calculate surface potential at different pH v

[2020-04-01 10:14] waynebow94 commented on #538
Hello Nathan!

I'm looking at 3DKT.

All the best.

[2020-04-03 12:54] speleo3 commented on #538
I tried processing _3DKT_ with options `--with-ph=2.0 --ph-calc-method=propka` like you said. One problem (after working around some others) is that propka will run out of chain identifiers. In [my fork of pdb2pqr](https://github.com/speleo3/apbs-pdb2pqr/commits/pymol) I increased the number of possible chains to 96. However, the assembly of _3DKT_ has 120 chains. It would be possible to process i

[2020-04-05 14:38] sobolevnrm commented on #538
Thanks, Thomas!

I also wanted to confirm that Wayne was using the biological assembly (
https://files.rcsb.org/download/3DKT.pdb1.gz, which would need to be
uploaded) rather than the asymmetric unit (the default option for 3DKT).

Thanks again,

Nathan

On Fri, Apr 3, 2020 at 5:54 AM Thomas Holder <notifications@github.com>
wrote:

[2020-04-06 16:32] AlexandrParkhomenko commented on #536
core/readline 8.0.004-1 [installed]
    GNU readline library

recompile!

[2020-04-15 09:40] waynebow94 commented on #538
Dear all,

thanks for the input!

First I tried with the asymmetric unit, now I want to use the biological assembly. How do I proceed now? I didn't really get it, sorry. If I want to upload the biological assembly I rename it to e.g. 3dkt_ba.pdb and upload it. If I want to visualize the surface potential afterwards in Pymol, I still only see the asymmetric unit and its surface potential. I lose th

[2020-04-16 14:02] sobolevnrm commented on #538
Hi Wayne --

The biological assembly is very large; it may be too big for the default
settings on the new PDB2PQR server.  Were you able to successfully run it
there?

Thanks,

Nathan

On Wed, Apr 15, 2020 at 2:40 AM waynebow94 <notifications@github.com> wrote:

[2020-04-18 17:29] sobolevnrm commented on #537
Thank you for submitting this issue.  Are you referring to the documentation deployed on the web or distributed with the source code?

[2020-04-18 17:30] sobolevnrm commented on #536
@ssunidhi - were you able to resolve this issue?

[2020-04-18 17:37] sobolevnrm commented on #535
@kozlac -- have you made any progress with this?  @intendo - given that you're looking into the cmake setup, could you take over?

[2020-04-18 17:38] sobolevnrm commented on #534
@kozlac and @intendo are working on the Python3 upgrade.  We hope to release soon.

[2020-04-18 18:04] ssunidhi commented on #536
Yes I was. Python 2 was needed instead of python 3.

On Sat, 18 Apr 2020, 23:01 Nathan Baker, <notifications@github.com> wrote:

[2020-04-18 18:18] #536 closed

[2020-04-18 18:18] sobolevnrm commented on #536
Great!

[2020-04-18 18:20] sobolevnrm commented on #533
I'm going to close this issue for now.  If there are specific software packages affected by this behavior, please let us know and we'll address those separately.

[2020-04-18 18:20] #533 closed

[2020-04-18 18:21] sobolevnrm commented on #531
Hi @mwscandura.  I'm going to close this issue because we're unable to proceed without the information @kozlac requested.  If you're able to provide that information, then we'll reopen the issue.  Thanks.

[2020-04-18 18:21] #531 closed

[2020-04-18 19:48] sobolevnrm commented on #530
Thank you!  This looks like a pretty easy fix.  @intendo who would be best to work on this?  Marat?

[2020-04-18 19:50] speleo3 commented on #530
See also https://github.com/speleo3/apbs-pdb2pqr/commit/3628370d3b2fe5ec00f89b7c9c6b359632878fa8

[2020-04-18 20:02] sobolevnrm commented on #530
Thanks, @speleo3.  @intendo and @kozlac are working on the full Python3 conversion.  There have been some SWIG issues that delayed this but we hope they are resolved now.

[2020-04-18 21:28] sobolevnrm commented on #528
The input file for this example was set up incorrectly:  most of the atoms were off the mesh.

[2020-04-18 21:28] #528 closed

[2020-04-18 21:31] sobolevnrm commented on #522
Please provide more information about this.  Do you want us to add compile flags to remove the "-g" or something else?

[2020-04-18 21:37] yurivict commented on #522
You should add a ```strip``` command for these files as part of the ```install``` target.

[2020-04-18 21:48] sobolevnrm commented on #522
@intendo can you add this to the update you're doing on the cmake setup?

[2020-04-18 21:57] sobolevnrm commented on #521
Hello.  Unfortunately, we do not currently have parameters for phosphotyrosine.  They can be added by following the documentation at https://apbs-pdb2pqr.readthedocs.io/en/latest/pdb2pqr/extending.html.

[2020-04-18 21:57] #521 closed

[2020-04-18 21:58] sobolevnrm commented on #518
We are in the process of replacing the old webserver with http://server.poissonboltzmann.org/.  Please try out the new server.

[2020-04-18 21:58] #518 closed

[2020-04-18 22:02] #4 closed

[2020-04-18 22:13] sobolevnrm commented on #32
Duplicate of #6

[2020-04-18 22:13] #32 closed

[2020-04-18 22:25] sobolevnrm commented on #28
Won't fix (for now).

[2020-04-18 22:25] #28 closed

[2020-04-18 22:26] sobolevnrm commented on #27
Closing.  Will reopen if extension provided.

[2020-04-18 22:26] sobolevnrm commented on #21
This would be nice to have but is not very urgent.

[2020-04-18 22:26] #21 closed

[2020-04-18 22:26] #20 closed

[2020-04-18 22:35] #517 closed

[2020-04-18 22:35] #511 closed

[2020-04-18 22:38] sobolevnrm commented on #510
The code is behaving as expected; the coordinates need to be separated by whitespace.

[2020-04-18 22:38] #510 closed

[2020-04-18 22:38] #506 closed

[2020-04-18 22:38] #505 closed

[2020-04-18 22:55] #495 closed

[2020-04-18 22:55] sobolevnrm commented on #493
@mvaliev can you take this on?

[2020-04-18 23:10] sobolevnrm commented on #491
Probably easiest to remove the keywords.  @mvaliev how do you feel about taking on some of the geoflow-related tasks?

[2020-04-18 23:14] sobolevnrm commented on #490
It would be best to implement this after #224 .

[2020-04-19 00:18] sarsv opened #539 "Problem downloading pqr-file"
Hi!
After running pdb2pqr generating the output files I can't download the pqr-file, I can only open it as a text file. Does anyone have an idea of how I can download it as a pqr-file?

Best,
Sara

[2020-04-19 00:35] sobolevnrm commented on #539
Hi Sara --

Can you please send us the job id?

Thank you,

Nathan

On Sat, Apr 18, 2020 at 5:18 PM sarsv <notifications@github.com> wrote:

[2020-04-19 00:43] sarsv commented on #539
Hi,

Here is the link to the job (couldn't find any job-id):
http://nbcr-222.ucsd.edu/pdb2pqr_2.1.1/querystatus.cgi?jobid=15872536569&calctype=pdb2pqr&fbclid=IwAR3UUCXXLjSbzI9Tf5mgN_VU8K4BI2liplkY2NSJgAfNA5hXY_3sHte8ut0

Kind regards,
Sara
________________________________
From: Nathan Baker <notifications@github.com>
Sent: Saturday, April 18, 2020 20:35
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pq

[2020-04-19 01:39] sobolevnrm commented on #539
It looks like things are working as intended:  you need to right-click the link and select "Save link as..." or equivalent.  Also, please be sure to check out the new version of our server at http://server.poissonboltzmann.org.

[2020-04-19 01:39] #539 closed

[2020-04-19 01:48] RizzerOnGitHub commented on #537
The source code, https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/pdb2pqr/doc/userguide.html etc

[2020-04-19 01:58] sarsv commented on #539
Thank you very much, when using the latest version everything worked perfectly fine. You saved my day! Thanks again!

Best regards,
Sara
________________________________
From: Nathan Baker <notifications@github.com>
Sent: Saturday, April 18, 2020 21:39
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Sara Svanberg <sarsv040@student.liu.se>; Author <author@noreply.github.com>
S

[2020-04-19 14:15] sobolevnrm commented on #489
@sobolevnrm should document and related tasks for PB-SAM.

[2020-04-19 14:17] sobolevnrm commented on #493
* The PB-SAM surf command is redundant with and should be replaced by the existing usemesh command.

[2020-04-19 14:20] #489 closed

[2020-04-19 14:20] #488 closed

[2020-04-19 14:21] #487 closed

[2020-04-19 14:21] #486 closed

[2020-04-19 14:25] sobolevnrm commented on #486
@lfelberg do you know the answer to this question?

[2020-04-19 14:25] #485 closed

[2020-04-19 14:26] #482 closed

[2020-04-19 14:27] sobolevnrm commented on #479
@mvaliev -- another geometric flow issue; would you take this?

[2020-04-19 14:28] sobolevnrm commented on #476
@intendo - can you please look into this given that you are upgrading the cmake setup

[2020-04-19 14:30] sobolevnrm commented on #471
@danny305 - we're more-or-less moved into the cloud now.  Can you please provide a minimal example of the functionality you're hoping for with mmCIF?

[2020-04-19 14:30] #470 closed

[2020-04-19 14:31] #465 closed

[2020-04-19 14:31] #461 closed

[2020-04-19 14:32] sobolevnrm commented on #456
@AFokas -- this is the expected behavior.  If PDB2PQR does not include parameters for the molecules, then it will not assign charges.  Please see https://apbs-pdb2pqr.readthedocs.io/en/latest/pdb2pqr/extending.html for more information.

[2020-04-19 14:32] #456 closed

[2020-04-19 14:33] sobolevnrm commented on #451
If this naming scheme is a problem, please explain why and suggest an alternative.  Note that AMBER is not the only force field used in APBS/PDB2PQR.

[2020-04-19 14:34] #445 closed

[2020-04-19 14:34] #443 closed

[2020-04-19 14:35] sobolevnrm commented on #441
Need an example to reproduce this issue.

[2020-04-19 14:35] #441 closed

[2020-04-19 14:35] #433 closed

[2020-04-19 14:36] sobolevnrm commented on #439
@intendo -- can you see if https://github.com/Electrostatics/apbs-pdb2pqr/commit/4bad162a6c03d79e109d6e9c9d5b69312bb59881 can be merged?

[2020-04-19 14:37] sobolevnrm commented on #438
Need an example in order to fix this.

[2020-04-19 14:37] #438 closed

[2020-04-19 14:37] #435 closed

[2020-04-19 14:38] #434 closed

[2020-04-19 14:39] #431 closed

[2020-04-19 14:39] #430 closed

[2020-04-19 14:39] #427 closed

[2020-04-19 14:40] sobolevnrm commented on #426
Similar to #537

[2020-04-19 14:40] #426 closed

[2020-04-19 14:42] sobolevnrm commented on #425
https://github.com/jensengroup/propka-3.1

It would be nice to do this after the Python 3 upgrade.

[2020-04-19 14:42] #423 closed

[2020-04-19 14:43] sobolevnrm commented on #421
@intendo got TravisCI working again.

[2020-04-19 14:43] #421 closed

[2020-04-19 14:44] #418 closed

[2020-04-19 14:44] #401 closed

[2020-04-19 14:45] sobolevnrm commented on #400
@Eo300 - how hard would this be to integrate into the new web server?

[2020-04-19 14:46] #397 closed

[2020-04-19 14:47] #395 closed

[2020-04-19 14:47] #394 closed

[2020-04-19 14:47] #393 closed

[2020-04-19 14:47] #389 closed

[2020-04-19 14:48] #388 closed

[2020-04-19 14:48] #384 closed

[2020-04-19 14:48] #383 closed

[2020-04-19 14:49] #382 closed

[2020-04-19 14:49] #381 closed

[2020-04-19 14:52] #380 closed

[2020-04-19 14:52] #379 closed

[2020-04-19 14:52] #370 closed

[2020-04-19 15:40] sobolevnrm commented on #375
@Eo300 or @kozlac -- can you look into the grid spacing parameters currently used by PDB2PKA?

[2020-04-19 15:40] #363 closed

[2020-04-19 15:40] #362 closed

[2020-04-19 15:42] #360 closed

[2020-04-19 15:42] #358 closed

[2020-04-19 15:42] #357 closed

[2020-04-19 15:43] #356 closed

[2020-04-19 15:43] #355 closed

[2020-04-19 15:43] #354 closed

[2020-04-19 15:44] #346 closed

[2020-04-19 15:44] #342 closed

[2020-04-19 15:45] #338 closed

[2020-04-19 15:45] #333 closed

[2020-04-19 15:45] #330 closed

[2020-04-19 15:45] #331 closed

[2020-04-19 15:45] #329 closed

[2020-04-19 15:46] #327 closed

[2020-04-19 15:46] #320 closed

[2020-04-19 15:46] #321 closed

[2020-04-19 15:47] #318 closed

[2020-04-19 15:47] #319 closed

[2020-04-19 15:47] #316 closed

[2020-04-19 15:47] #317 closed

[2020-04-19 15:47] #314 closed

[2020-04-19 15:47] #315 closed

[2020-04-19 15:47] #312 closed

[2020-04-19 15:47] #313 closed

[2020-04-19 15:48] #27 closed

[2020-04-19 15:48] #34 closed

[2020-04-19 15:48] #43 closed

[2020-04-19 15:49] sobolevnrm commented on #425
Duplicate of #48.

[2020-04-19 15:49] #425 closed

[2020-04-19 15:50] #35 closed

[2020-04-19 15:51] #46 closed

[2020-04-19 15:52] #51 closed

[2020-04-19 15:52] #49 closed

[2020-04-19 15:52] #52 closed

[2020-04-19 15:53] #57 closed

[2020-04-19 15:55] #61 closed

[2020-04-19 15:56] #67 closed

[2020-04-19 15:57] #68 closed

[2020-04-19 15:57] #69 closed

[2020-04-19 15:57] #70 closed

[2020-04-19 15:57] #71 closed

[2020-04-19 15:57] #72 closed

[2020-04-19 15:57] #73 closed

[2020-04-19 15:57] #74 closed

[2020-04-19 15:57] #75 closed

[2020-04-19 15:57] #76 closed

[2020-04-19 15:58] #79 closed

[2020-04-19 15:58] #81 closed

[2020-04-19 15:58] #82 closed

[2020-04-19 15:58] #83 closed

[2020-04-19 15:58] #84 closed

[2020-04-19 15:59] #85 closed

[2020-04-19 15:59] #86 closed

[2020-04-19 15:59] #87 closed

[2020-04-19 15:59] #88 closed

[2020-04-19 15:59] #89 closed

[2020-04-19 16:00] #91 closed

[2020-04-19 16:00] #92 closed

[2020-04-19 16:00] #94 closed

[2020-04-19 16:00] #95 closed

[2020-04-19 16:00] #96 closed

[2020-04-19 16:01] #97 closed

[2020-04-19 16:01] #98 closed

[2020-04-19 16:01] #99 closed

[2020-04-19 16:02] #100 closed

[2020-04-19 16:04] #102 closed

[2020-04-19 16:04] #103 closed

[2020-04-19 16:04] #104 closed

[2020-04-19 16:05] #106 closed

[2020-04-19 16:05] #107 closed

[2020-04-19 16:05] #109 closed

[2020-04-19 16:05] #143 closed

[2020-04-19 16:05] #162 closed

[2020-04-19 16:05] #163 closed

[2020-04-19 16:05] #164 closed

[2020-04-19 16:05] #191 closed

[2020-04-19 16:06] #208 closed

[2020-04-19 16:06] #212 closed

[2020-04-19 16:07] #219 closed

[2020-04-19 16:07] #221 closed

[2020-04-19 16:07] #223 closed

[2020-04-19 16:08] #225 closed

[2020-04-19 16:08] #226 closed

[2020-04-19 16:08] #227 closed

[2020-04-19 16:08] #228 closed

[2020-04-19 16:08] #229 closed

[2020-04-19 16:08] #237 closed

[2020-04-19 16:09] #241 closed

[2020-04-19 16:09] #245 closed

[2020-04-19 16:13] j3mdamas commented on #451
Sorry, almost 4 years have passed since I opened this issue, I do not recall all the details. If AMBER did not change since then, the issue should still be valid. At that time, I fixed it on a fork from this repo and AMBER only specific files, which should not affect the behavior with other FFs. You can see it here: https://github.com/tonigi/apbs-pdb2pqr/pull/1/files.

[2020-04-19 16:13] #218 closed

[2020-04-19 16:14] #248 closed

[2020-04-19 16:14] #254 closed

[2020-04-19 16:14] #255 closed

[2020-04-19 16:14] #256 closed

[2020-04-19 16:14] #257 closed

[2020-04-19 16:14] #265 closed

[2020-04-19 16:15] #268 closed

[2020-04-19 16:15] #269 closed

[2020-04-19 16:15] #270 closed

[2020-04-19 16:17] #273 closed

[2020-04-19 16:17] #274 closed

[2020-04-19 16:17] #275 closed

[2020-04-19 16:17] #276 closed

[2020-04-19 16:17] #277 closed

[2020-04-19 16:17] #278 closed

[2020-04-19 16:17] #280 closed

[2020-04-19 16:17] #281 closed

[2020-04-19 16:17] #283 closed

[2020-04-19 16:18] #282 closed

[2020-04-19 16:18] #287 closed

[2020-04-19 16:18] #291 closed

[2020-04-19 16:18] #295 closed

[2020-04-19 16:18] #296 closed

[2020-04-19 16:18] #297 closed

[2020-04-19 16:18] #298 closed

[2020-04-19 16:18] #299 closed

[2020-04-19 16:18] #300 closed

[2020-04-19 16:18] #301 closed

[2020-04-19 16:18] #302 closed

[2020-04-19 16:18] #303 closed

[2020-04-19 16:18] #304 closed

[2020-04-19 16:18] #305 closed

[2020-04-19 16:18] #306 closed

[2020-04-19 16:18] #310 closed

[2020-04-19 16:18] #311 closed

[2020-04-19 16:19] sobolevnrm commented on #292
Can @mvaliev or @intendo  or @Eo300  or @kozlac check this out?  It should be an easy check/fix.

[2020-04-19 16:22] sobolevnrm commented on #451
@intendo or @mvaliev -- it should be pretty easy to patch master with https://github.com/tonigi/apbs-pdb2pqr/pull/1/files.  Can you please do that?

[2020-04-19 16:24] j3mdamas commented on #451
If you're interested, I can open a PR.

[2020-04-19 16:26] sobolevnrm commented on #451
Yes, please!

[2020-04-19 17:06] j3mdamas commented on #451
Done

[2020-04-19 17:55] sobolevnrm commented on #451
Fixed by https://github.com/Electrostatics/apbs-pdb2pqr/commit/766bba7fe45a5c4d61d644bdc966516b677ad4b0

[2020-04-19 17:55] #451 closed

[2020-04-19 18:37] danny305 commented on #471
We would like to run your software where we feed in either a pub-redo file or a mmCIF/cif file of a protein and receive back a mmCIF/cif file that has appended the hydrogen atom rows, and a pqr and radius column. Essentially what @speleo3 eloquently summarized.

Additionally, we are having problems obtaining the pqr values for atoms that do not begin with ATOM in the current pdb pipeline. So all a

[2020-04-19 19:42] sobolevnrm commented on #471
Yes, that works.  Thanks for the update.

[2020-04-19 20:08] danny305 commented on #471
Will you guys extend the pqr functionality to non-protein atoms (water, ligands, sugars, chemical modifications, etc)? Or should we prioritize obtaining partial charge for non-protein atoms else where?

I am asking because we are currently trying to address this issue and would like to divert our efforts else where pqr (you guys) could solve this. Please let me know so we can reprioritize our shor

[2020-04-20 01:37] sobolevnrm opened #541 "Clean up files in PDB2PQR directory no longer needed after move to Azure"
@Eo300 is probably the best person to tackle this.

@sobolevnrm is going to get a jump start on this by removing the `pdb2pqr/html/` directory to partially address #538

[2020-04-20 01:42] sobolevnrm commented on #538
Oops.  That check-in should have been assigned to another issue.  Sorry for confusion.

[2020-04-20 01:45] sobolevnrm commented on #537
Commit faadd5f956698b4e4d0bdfb3d5138de5fedd1a5e actually addressed this, too... but @sobolevnrm mentioned the wrong issue in the commit log.

[2020-04-20 02:08] #537 closed

[2020-04-20 13:36] sobolevnrm commented on #541
- [ ] apbs\src\.config\ApbsClient.py.in

[2020-04-20 14:49] sobolevnrm commented on #541
These files need to be edited:

- [ ] pdb2pqr/build_config.py
- [ ] pdb2pqr/fabfile_settings.py
- [ ] pdb2pqr/fabfile.py
- [ ] pdb2pqr/pdb2pqr_config.xml
- [ ] pdb2pqr/examples/build_config.py

[2020-04-22 00:30] mathog opened #542 "pdb2pqr git download not complete or inconsistent"
[code]

The entire html subdirectory is missing.  Either the build needs to ignore it or the download needs to supply it.

[2020-04-22 03:02] sobolevnrm commented on #542
I'm happy to take the blame for this; I intentionally messed it up when removing obsolete documentation.  @intendo -- do you have time to fix this?  Thank you!

[2020-04-23 17:15] sobolevnrm opened #543 "Combine APBS & PDB2PQR code bases into single version"

[2020-04-23 17:16] sobolevnrm opened #544 "Fix PDB comparison in testing"
@intendo and @kozlac have more information.

We should not be worried about atom numbering differences in PDB2PQR output so our testing should be insensitive to this.

[2020-04-23 17:33] sobolevnrm opened #545 "Replace data in Markdown with CSV"
Replace the data in apbs/examples/*/README.md with one or more CSV tables to facilitate testing and generating data for new releases.

[2020-04-23 18:10] sobolevnrm opened #546 "Merge license files"
Merge the license files scattered throughout the repo

[2020-04-23 18:58] #546 closed

[2020-04-23 19:38] intendo opened #547 "Update doc/installing.rst"

[2020-04-23 19:46] sobolevnrm commented on #547
This also needs a merge with pdb2pqr/INSTALL.md.

[2020-04-24 16:15] sobolevnrm opened #548 "Standard platform for testing build system for APBS & PDB2PQR"

[2020-04-24 16:15] sobolevnrm opened #549 "Fix test coverage"

[2020-04-24 16:16] sobolevnrm opened #550 "Cmake modernization"

[2020-04-24 16:17] sobolevnrm opened #551 "PROPKA 3.0 vs 3.1"
Clean up remnants of 3.0

[2020-04-24 16:17] sobolevnrm opened #552 "What is the future of FEtk and MALOC?"
Need better integration with build/test/maintain framework

[2020-04-24 16:18] sobolevnrm opened #553 "What is maintenance path for PB(S)AM?"
Do we fork and maintain independently?

[2020-04-24 16:19] sobolevnrm opened #554 "MALOC modernization"
It's no longer needed and takes extra effort to maintain.

[2020-04-24 16:19] sobolevnrm opened #555 "Single build/test system for APBS/PDB2PQR with Travis CI integration"

[2020-04-24 16:20] sobolevnrm opened #556 "Include installation documentation with code in main documentation"
No in separate text, Markdown, Confluence, etc. files

[2020-04-24 16:21] sobolevnrm opened #557 "Document Windows build process for APBS/PDB2PQR"

[2020-04-24 16:22] sobolevnrm opened #558 "Clean up vestigal Opal & web server files"

[2020-04-24 16:23] sobolevnrm opened #559 "Identify places where C/C++ can be replaced by Python"
One example is the PDB2PKA graph clique-finding code?

[2020-04-24 16:24] sobolevnrm opened #560 "Replace SWIG with something from the last decade"

[2020-04-24 19:52] sobolevnrm opened #561 "Eliminate use of sys.stdout and sys.stderr"
Replace with logging and warnings modules.

[2020-04-24 19:52] sobolevnrm commented on #561
See https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/pdb2pqr/src/cif.py for example.

[2020-04-24 20:05] sobolevnrm opened #562 "Follow standard Python style convention"
https://www.python.org/dev/peps/pep-0008/ or similar

[2020-04-24 22:23] sobolevnrm opened #563 "PROPKA has several exec() statements that are worrisome"
For example:

https://github.com/Electrostatics/apbs-pdb2pqr/blob/8e47d5fa08c4e2cb22bef829b585097a5e7108ae/pdb2pqr/propka/parameters.py#L109

[2020-04-24 23:01] sobolevnrm opened #564 "Submit pull request back to PROPKA repo"

[2020-04-24 23:06] sobolevnrm commented on #564
First candidate:  999847c68c90eb78607253f53293de6e9aa275ca

[2020-04-24 23:07] sobolevnrm opened #565 "Replace PROPKA vector_algebra with numpy or similar"

[2020-04-25 01:04] intendo commented on #562
I did updated the propka30 files using the following:
autopep8 --max-line-length 150 --in-place -r pdb2pqr/propka30/

If that doesn't break anything, we can do it for the rest of the code.

[2020-04-25 03:29] sobolevnrm opened #566 "Figure out why --ligand option fails with PROPKA 3.1"

[2020-04-25 16:52] sobolevnrm opened #567 "Add/fix missing docstrings throughout code"
Follow standard docstring format (e.g., Google)

[2020-04-25 16:56] JLaureantiPNNL opened #568 "Ligands with mol2 files are displaced from the proper coordinates after assigning charges."
Hello,

I ran a job with the 3WIP acetylcholinesterase enzyme on both the old web server and the new updated web server. For this job I created a mol2 file for the ACH ligand using the PRODRG web tool and asked that parameters be generated for the ligand as well. When the job completes the XYZ coordinates for the ligand in the PQR file do not match that of the XYZ coordinates in the PDB file, and

[2020-04-25 17:16] sobolevnrm opened #569 "Clean up old branches"
@kozlac - can you please visit https://github.com/Electrostatics/apbs-pdb2pqr/branches and delete any branches that aren't needed?

[2020-04-25 18:52] #561 closed

[2020-04-25 21:54] sobolevnrm opened #570 "Add testing for extensions"

[2020-04-25 23:56] sobolevnrm opened #571 "PDB2PQR tests don't actually work"
They just appear to work.  You need to look at the results comparison to see the problem of mismatched PQR lines due to reordering of atoms.  Visual inspection suggests that the results are correct.

[2020-04-26 16:21] sobolevnrm commented on #571
Mostly duplicates #549

[2020-04-26 16:21] #571 closed

[2020-04-26 16:22] sobolevnrm commented on #551
More-or-less closed by 27891dee3e03627f3d173ed7423fea2bebecb510

[2020-04-26 16:22] #551 closed

[2020-04-26 17:04] sobolevnrm opened #572 "Suppress (or redirect to files) repeated logging messages"
See https://stackoverflow.com/questions/44691558/suppress-multiple-messages-with-same-content-in-python-logging-module-aka-log-co/44692178

[2020-04-26 17:07] sobolevnrm commented on #550
Move entire code to Cmake build system.

[2020-04-26 17:23] sobolevnrm opened #573 "PDB2PQR --assign-only does not assign charges or radii"
Demonstrated with 1A1P test.  Next commit will provide example.

[2020-04-26 19:34] #573 closed

[2020-04-26 20:24] intendo commented on #569
@sobolevnrm, @kozlac:  Shouldn't any branch older than 3 years be delete or abandoned?

[2020-04-26 20:42] sobolevnrm opened #574 "PDB2PQR doesn't recognize HETATM with --drop-water"
Code to follow in next commit

[2020-04-26 20:44] sobolevnrm commented on #568
I wonder if this is related to #566 ?

[2020-04-26 21:27] sobolevnrm opened #575 "Problem with pdb2pqr.utilities.getFFfile"
Returns empty parameter set associated with test `pytest/regression_test.py::test_other_options[1AFS userff usernames whitespace]`.

Details to follow in commit.

[2020-04-26 21:31] #574 closed

[2020-04-26 22:45] sobolevnrm opened #576 "Need testing for CIF import"

[2020-04-26 23:37] sobolevnrm opened #577 "I'm pretty sure the --include-headers option in PDB2PQR doesn't do anything"

[2020-04-27 00:44] sobolevnrm commented on #565
Found in PROPKA vector algebra, utilities.py, etc.

[2020-04-27 00:45] sobolevnrm opened #578 "Remove all import *"
The import * are inhibiting refactoring.

[2020-04-27 01:25] intendo opened #579 "Can these files be removed?"
apbs/contrib/iapbs (is this used?)
pdb2pqr/visualize.cgi
pdb2pqr/SCons*
pdb2pqr/main_cgi.pyc
pdb2pqr/html
pdb2pqr/.htaccess
pdb2pqr/scons*
pdb2pqr/site_scons*
pdb2pqr/.variables.cache*
pdb2pqr/.scons.dblite*
pdb2pqr/build_config.py*
pdb2pqr/propka30
* need to check that we have all builds and tests moved out of Scon

[2020-04-27 03:35] sobolevnrm commented on #578
![pdb2pqr](https://user-images.githubusercontent.com/1933272/80331516-1fe81300-87fd-11ea-9958-382c9fa180fa.png)

This is a (horrible) dependency graph as of 47ed03dd9b143bc094f30840a8d17818e831ba7c

The two `import *` dependencies that are still causing problems are shown in red.  If these are replaced with more selective imports, the test cases fail with errors indicating missing heavy atoms.  If

[2020-04-27 03:46] sobolevnrm commented on #579
Most of the files above are gone as of f3f4840e6c771f4e8b134abddf044f4c7d93a3e9.  Have you done a `pull` recently?

Here are the remaing files:

* `iapbs` - we can't remove this if @rubadub is still using it
* SCons-related files (including `build_config.py`) - does Swig work with Cmake?

[2020-04-27 12:17] kozlac commented on #579
Swig does work with CMake. (e.g. apbs/tools/python/CMakeLIst.txt)

[2020-04-27 12:32] sobolevnrm commented on #579
Sorry; I worded my question badly.  When I was talking with @intendo yesterday, it sounded like the Swig-related parts of the PDB2PQR Cmake build were not working yet.  Is that still the case?  I haven't had a chance to test.

[2020-04-27 15:05] rubadub commented on #579
`iapbs` - yes, this is still an active project. Please don't remove.

[2020-04-27 15:08] intendo commented on #579
@rubadub thanks for letting us know.

[2020-04-27 15:41] intendo commented on #578
I think some of the packages may already be in the system cache. I wonder if the try/except example in https://stackoverflow.com/a/33547682 would work?

[2020-04-27 16:26] sobolevnrm commented on #555
@intendo has made a lot of progress on this.  I still need to move Scons tests over.

@intendo can you update the documentation (somewhere) with these build instructions you sent?

`rm -rf build && mkdir build && cd build && cmake -DENABLE_PYTHON=ON .. && cmake --build . && ctest . && cd ..`

[2020-04-27 18:24] sobolevnrm commented on #558
@intendo and @kozlac -- I think these are all gone as of (at least) a6e43df9ceaa14c619c10c9a755782173fdceb41.  Should we close this issue?

[2020-04-27 18:32] intendo commented on #558
I can't find any files. I think we can close it. We can always reopen it if we find any strays left around or generated.

[2020-04-27 19:05] #558 closed

[2020-04-27 19:14] sobolevnrm opened #580 "Fix bare exceptions in cif.py"
Lots of bare exceptions in cif.py lead to confusing debugging.

[2020-04-29 01:58] sobolevnrm opened #581 "Bug in hydrogens.py"
There is at least one bug in hydrogens.py related to improper variable setting and/or break from loops.

See the following line for context:

https://github.com/Electrostatics/apbs-pdb2pqr/blob/02c0505a631075794757b4d36777bfa27276aa9f/pdb2pqr/pdb2pqr/hydrogens.py#L1193

[2020-04-29 01:59] sobolevnrm commented on #581
Apparently, this bug has been around for a while.  It should probably not be fixed until we finish regression tests for the new version of PDB2PQR.

[2020-04-29 03:05] sobolevnrm opened #582 "Please fix really ugly code"
Some of the worst problems with hydrogens.py and related modules have been cleaned up but there is still several problems with the length and complexity of the code.  Many of these could be broken up into subdirectories (and simpler) functions to increase robustness of the code.

[2020-04-29 03:52] sobolevnrm opened #583 "Need testing for inputgen and psize"
I think inputgen.py and psize.py are still important for the web server version of PDB2PQR.  However, we appear to have no test coverage of these modules.

[2020-04-30 14:32] waynebow94 commented on #538
Hey Nathan,

unfortunately not. :(

All the best.

[2020-05-01 01:54] sobolevnrm commented on #582
@intendo - per our conversation today, here's a list of files ready for refactoring:

* pdb2pqr.cif -- _really_ needs test coverage first
* pdb2pqr.cli
* pdb2pqr.definitions
* pdb2pqr.errors -- however, I'd prefer to nuke this module for now and handle errors using standard exception classes
* pdb2pqr.forcefield
* pdb2pqr.hydrogens
* pdb2pqr.inputgen
* pdb2pqr.na
* pdb2pqr.pdb

[2020-05-02 01:47] sobolevnrm commented on #583
Apparently, we built lots of PQR parsing routines for PDB2PQR and still parse PQR files manually in psize.py...  why???

[2020-05-02 15:26] sobolevnrm commented on #471
Hi Danny -

This isn't an immediate priority and we'd appreciate any help you can
provide.

We think we have protein mmCIF *parsing *working in the code now but would
appreciate it if you could help provide a few test cases that we could use
to check the accuracy.

Thanks!

On Sun, Apr 19, 2020 at 1:08 PM Danny Diaz <notifications@github.com> wrote:

[2020-05-02 17:13] sobolevnrm opened #584 "Need testing for PROPKA"

[2020-05-02 17:13] sobolevnrm opened #585 "Need testing for PDB2PKA"

[2020-05-02 17:29] sobolevnrm opened #586 "Need testing for nucleic acids"

[2020-05-02 18:58] sobolevnrm opened #587 "Address user feedback on documentation"
- [ ] Initially, it wasn’t clear if I needed to download or use the website
- [ ] There doesn’t seem to be a link to download the ligand MOL2 for 1HPX or 1ABF. I don’t know if I was supposed to find that somewhere else?
- [ ] I had a pretty hard time following the documentation – I could get it to do the initial PDB2PQR bit, but I couldn’t find the next steps – did I need to use with APBS? Because

[2020-05-03 21:43] sobolevnrm opened #588 "Replace C++ clique-finding with Python"
See https://gist.github.com/abhin4v/8304062

[2020-05-03 22:01] sobolevnrm opened #589 "Double-check Cmake build"
Nathan probably messed it up.  Stand by for offending commit.

Sorry, @intendo...

[2020-05-03 22:28] sobolevnrm opened #590 "Need testing of ligand parameterization"
Currently only have 1 test tied to PROPKA functionality that compares to known result.

Adding two more tests for ligands but not compared to known result.

[2020-05-03 22:39] sobolevnrm opened #591 "Consider restoring extension functionality at some point"

[2020-05-03 22:46] #570 closed

[2020-05-03 23:27] sobolevnrm opened #592 "Possibly reinstate PDB2PKA ligand support"
The current coverage of ligand types by PDB2PKA is so sparse that it's worse than no coverage at all.  It will be deleted shortly.

We _may_ want to restore this at some point.

[2020-05-03 23:36] sobolevnrm commented on #575
Fixed in 2d51536866f1350716f0e99b66d75ed9ff208682.

[2020-05-03 23:36] #575 closed

[2020-05-03 23:53] sobolevnrm opened #593 "Determine impact of recent PDB2PQR changes on apbs-rest webserver"

[2020-05-03 23:55] #588 closed

[2020-05-04 22:52] sobolevnrm commented on #590
This is the old test from Scons.  However, it uses a strange mix of PROPKA and PDB2PKA functionality that I cannot follow:

[code]

[2020-05-04 22:55] sobolevnrm commented on #589
Need to update https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/pdb2pqr/README.md after we confirm that Cmake is working.

[2020-05-04 23:02] sobolevnrm commented on #589
I'm posting instructions on the Cmake build from @intendo here:

[code]

[2020-05-04 23:22] sobolevnrm commented on #589
When running WSL Ubuntu 18.04 on Windows 10, I run the following commands:

[code]

Everything goes well until the end, when I receive the error:

[code]

Adding `-DCMAKE_C_FLAGS="-fPIC"` to the initial cmake command fixed this problem.

[2020-05-05 14:23] sobolevnrm commented on #590
Joe L provided some test cases that can be used for this.

[2020-05-05 14:24] sobolevnrm opened #594 "Add warning information back to headers of output PQR"
Need to cache information in loggingFilter and extract during PQR output.

[2020-05-06 13:37] sherif10002 opened #595 "Large apbs .dx file downloads fail from web server due to server-side error?"

[2020-05-06 13:38] sobolevnrm commented on #595
@Eo300 can you please investigate this problem?

[2020-05-06 13:38] sobolevnrm commented on #595
Perhaps a temporary fix would be to compress files on server side?

[2020-05-06 22:19] Eo300 commented on #595
From investigating the issue it seems that there's a worker timeout occurring on the server-side storage service.  I can lift it to an extent, but ultimate a slow-enough download speed would still experience the same issue.

Regarding compressing files server-side, I can apply that, since it should alleviate some of these troubles in terms of sheer file size.

[2020-05-06 22:38] sherif10002 commented on #595
Compressing the files sounds like a great solution

[2020-05-07 09:11] stefanhuber1993 opened #596 "Using PDB2PQR from Chimera fails."
I am usually using PDB2PQR from Chimera (1.13.1), which accesses the web server. Recently I get the following error:

NonChimeraError: Web service appears to be down.  See Reply Log for more details.
Service 'opal:pdb2pqr_2.0.0' is unavailable.  See Reply Log for more details.

Are there any changes to the server that would break this?

[2020-05-07 09:14] stefanhuber1993 opened #597 "PDB2PQR server with long filenames"
I started PDB2PQR at the webservice ```http://server.poissonboltzmann.org/``` with a pdb file named ```homology_model_XXXXX_withNterm_rigidfit_real_space_refined_27_1mer_RSR_correctedFH_biomt.pdb```.

I get the error ```Failed - Loading Job Data: Error``` displayed on the web site.

The same pdb file with the name a.pdb does not raise the error and works.

[2020-05-07 09:59] stefanhuber1993 commented on #595
My current workaround is to download the file via commandline and ```wget```. Download seems to continue upon reconnect.

[2020-05-07 14:42] sherif10002 commented on #595
Thank you @stefanhuber1993 this worked.

[2020-05-08 01:17] Eo300 commented on #595
Happy to see that's working for now.  As for compressing the files server-side, that's now implemented, so future submissions should show the resulting `.dx` file as `.dx.gz`.

[2020-05-08 05:31] intendo commented on #534
This has been resolved and upgraded to Python3.

[2020-05-08 05:31] #534 closed

[2020-05-08 10:52] fabiotrovato opened #598 "Using APBS with coarse-grained models of proteins"
Dear APBS community,

I would like to know if APBS can be used with coarse-grained protein structures (for example protein models with one pseudo-atom per residue) for which I know the relevant quantities such as pseudo-atom radii and charges. It seems that the PQR file format should be flexible enough to do it. However, I am not sure if during calculation APBS expects to find conventional atoms f

[2020-05-08 12:59] sobolevnrm commented on #595
Thanks for the quick turnaround on this, @Eo300 !  Something for a discussion offline:  did you increment version numbers, etc.?

[2020-05-08 12:59] #595 closed

[2020-05-08 21:08] sobolevnrm commented on #594
make loggingFilter in https://github.com/Electrostatics/apbs-pdb2pqr/blob/nathan/sandbox/pdb2pqr/pdb2pqr/io.py stateful and dump to file or PQR header.

[2020-05-09 02:46] jamesmloy commented on #471
Hi @sobolevnrm

I'm working with Danny on the same project, and I'm happy to help with providing some test cases. I've [attached](https://github.com/Electrostatics/apbs-pdb2pqr/files/4602512/pqr2sasa-tests.tar.gz) a few cif files that were converted from pdb redo files (also included are the source pdb files). The tool used for the conversion is the Gemmi library (found [here](https://gemmi.readth

[2020-05-09 16:13] sobolevnrm commented on #598
Hi Fabio --

Thank you for the suggestion!  Can you provide an example of the type of
file you'd like to parameterize and more information about the parameter
set you'd use?

Thanks,

Nathan

On Fri, May 8, 2020 at 3:52 AM fabiotrovato <notifications@github.com>
wrote:

[2020-05-09 16:53] fabiotrovato commented on #598
Hi Nathan,

Sure, i will try to explain what I would need for my project.

I have a protein sequence of about 1800 residues and we are modelling its tertiary structure. Since it's too big for an atomistic representation, I have coarse-grained it as a polymer of about 600 pseudo-atoms (beads). In some regions, one bead corresponds to one residue, in others it corresponds to three residues. So if th

[2020-05-09 16:57] fabiotrovato commented on #598
I guess what I'm asking is whether i can use APBS with my model protein or if I'm gonna get stuck at a certain point (still haven't tried anything so i can't provide an example, sorry)

[2020-05-10 04:00] vapourisedman commented on #574
Yes, I have the same problem here -- any solution for this?

[2020-05-10 04:25] sobolevnrm commented on #574
Can you please send an example so we can reproduce?

Thanks.

On Sat, May 9, 2020 at 9:00 PM vapourisedman <notifications@github.com>
wrote:

[2020-05-11 00:20] #582 closed

[2020-05-12 07:42] fabiotrovato commented on #598
Hi Nathan,
I'm following up to see if you have any suggestions on this?
Thanks,
Fabio

[2020-05-12 12:37] sobolevnrm commented on #598
Hello -

What you're describing is definitely possible with APBS.  You have enough
information to construct the PQR file yourself and can then start directly
with APBS using your custom PQR for the coarse-grained protein.

Thanks,

Nathan

On Sat, May 9, 2020 at 9:53 AM fabiotrovato <notifications@github.com>
wrote:

[2020-05-12 13:12] sagitter opened #599 "APBS and Python3"
Hi all.

Does exist any working patch for using APBS-1.5 with Python3?

[2020-05-12 13:14] fabiotrovato commented on #598
Hi,
thanks for your feedback. I will give this a try. If I manage to do the calculation, should I post the input files here? Might be a guide for someone who needs to do something similar.
Best,
Fabio

[2020-05-12 13:19] sobolevnrm commented on #598
That would be great; thanks!

On Tue, May 12, 2020 at 6:15 AM fabiotrovato <notifications@github.com>
wrote:

[2020-05-12 13:19] sobolevnrm commented on #599
Yes, the current version of APBS in the Git repo (
https://github.com/Electrostatics/apbs-pdb2pqr/tree/master/apbs) works with
Python 3.

On Tue, May 12, 2020 at 6:12 AM Antonio <notifications@github.com> wrote:

[2020-05-12 16:41] sagitter commented on #599
Thank you @sobolevnrm
When will be out next release?

[2020-05-12 17:32] sobolevnrm commented on #599
Hopefully within the next few weeks.  I'll defer to @intendo for details.

On Tue, May 12, 2020 at 9:41 AM Antonio <notifications@github.com> wrote:

[2020-05-12 19:18] sagitter commented on #599
Release 3.0.0, i presume.

[2020-05-12 19:38] sobolevnrm commented on #599
Yes, that's correct.

On Tue, May 12, 2020 at 12:19 PM Antonio <notifications@github.com> wrote:

[2020-05-12 19:52] sagitter commented on #599
Thank you.

[2020-05-12 19:52] #599 closed

[2020-05-13 12:38] sobolevnrm commented on #471
Hi James --

This is great!  @intendo -- could you or Mark work with this?

Thanks!

On Fri, May 8, 2020 at 7:46 PM James Loy <notifications@github.com> wrote:

[2020-05-14 16:35] intendo commented on #599
@sagitter we are in the final stages of getting APBS working on all the platforms and updating Travis CI and Github Actions to make it easier and faster to make new releases in the future.

Thanks.

[2020-05-26 18:11] DBradley27 opened #600 "PyMOL 2.4.0 APBS plug-in not recognising PDB2PQR"
I am using Ubuntu 14.04 on a 64-bit machine. I recently installed an open source version of PyMOL (PyMOL 2.4.0) on my laptop. While the APBS Tools 2.1 plugin is functional, it does not seem compatible with the PDB2PQR software provided in this repository.

I have tried to set the path of the pdb2pqr.py script, but the following error message is returned (truncated):

`File "/usr/lib/python3.4/imp.

[2020-05-26 18:23] sobolevnrm commented on #600
Can you please provide more information about the version of PDB2PQR you are using?

@speleo3 - do you have any ideas?

Thanks

[2020-05-26 18:27] DBradley27 commented on #600
Hi. I downloaded everything yesterday from here, so the apbs-pdb2pqr version is 3_0_0 I think.

[2020-05-26 18:39] speleo3 commented on #600
I suggest:
1) Try the APBS plugin from https://github.com/Pymol-Scripts/Pymol-script-repo/blob/master/plugins/apbsplugin.py which invokes pdb2pqr in a different way than the version which is bundled with Open-Source PyMOL
2) Use pdb2pqr 2.1.1, not 3.0.0 which is currently under active development and may not have been tested yet with the old APBS plugin

[2020-05-26 19:17] DBradley27 commented on #600
The changes that you suggested worked for me. I can now run PDB2PQR in the Open-Source PyMOL. Thank you very much.

[2020-05-31 15:58] sobolevnrm opened #601 "Remove binaries from Git repo"
GitHub does not like binaries in its repos.  We should consider replacing the mesh-specific tools in https://github.com/Electrostatics/apbs-pdb2pqr/tree/master/apbs/externals with binary releases.

[2020-06-01 23:15] intendo commented on #601
I asked @lwwilson1 to see if he could make a "Release" of the mesh_routines repository that we could like to instead of the binaries. I think we can use CMake and FetchContent commands to get the versions we want.

[2020-06-02 17:00] #601 closed

[2020-06-02 20:23] lwwilson1 commented on #601
I made a release that moved the executables to release assets. I've messed around a bit and the following pattern should work for getting them. There might be a smarter/ more canonical way, but this seems to do the job:

include(FetchContent)

FetchContent_Declare(
    mesh_routines
    URL             https://github.com/lwwilson1/mesh_routines/releases/download/v1.0/executables.tar.gz
)

The unzi

[2020-06-02 21:41] intendo commented on #589
Since this is working in Github Actions and we made the releases for 3.0.0, I think the CMake builds are correct.

[2020-06-02 21:41] #589 closed

[2020-06-02 21:54] intendo commented on #601
Rather than download all the executables every time a build is done, it is easier/faster to issue a single command for downloading the msms or NanoShaper binary for the current build like:

`file(DOWNLOAD ${FULL_URL_PATH} "${EXECUTABLE_OUTPUT_PATH}/${MSMS_RAW_BINARY_NAME}"`

Can you add each of the individual executables as assets?

[2020-06-02 22:02] intendo commented on #550
This has been mostly completed for APBS except for the fetk submodule that uses CMakes ExternalProject_Add conventions to build the fetk sections.

At this point, I need to know how to get pdb2pqr to build with CMake before being able to close this out.

Is @sobolevnrm close to merging pdb2pqr into the master branch?

[2020-06-02 22:04] intendo commented on #548
APBS is testing on Linux and MacOSX using Github actions. The Windows build is done using a VM on Azure while I figure out how to get it to work with Github actions.

[2020-06-02 22:22] intendo commented on #555
The CMake/test system for APBS is mostly complete for Linux and MacOSX using Github Actions rather than Travis CI.

The build instructions for APBS has been put in a script in the apbs directory called .build.sh that is useful for developers to do end to end build with CMake, test with CTest, and package with CPack.

[2020-06-02 22:53] sobolevnrm commented on #550
Is @intendo giving me a hard time? 🤔

It depends what you want me to merge.

I have been spending most of my time on getting PROPKA ready for re-integration with PDB2PQR.  As soon as pull requests https://github.com/jensengroup/propka-3.1/pull/50 and https://github.com/jensengroup/propka-3.1/pull/59 are approved, we'll have a PROPKA version that I think we can call v3.2 and import as a module.

In

[2020-06-03 05:31] intendo commented on #550
Hard time? I am just trying to catch up to you  :-)

I think we can wait a week or two to get PROPKA working.

[2020-06-03 22:17] lwwilson1 commented on #601
I've made a new release v1.5 that has each of the executables added separately. I've kept the names the same on all the executables as before, except where a name conflict occurred (NanoShaper to NanoShaper_OSX and NanoShaper_Linux64).

Looking through the old CMake I also noticed only the win32 executables were ever copied for Windows, so I've only included those. I don't have access to a windows

[2020-06-04 07:32] Asternosis opened #602 "Submitting PDB files in the new PDB2PQR server"
Dear PDB2PQR community,

I am currently facing a concern regarding the new PDB2PQR server.

In fact, when I submit a PDB file, the server returns the following error to me after ten seconds:

`Failed - Loading Job Data: Error`

This error occurs systematically when I submit a PDB file (I tested with a dozen different structures), even from the RCSB server.

Note that I do not have this concern if

[2020-06-05 22:14] jwhowarth opened #603 "installing pdb2pqr from apbs-pdb2pqr 3.0?"
The current apbs-pdb2pqr 3.0 release doesn't appear to perform any installations for pdb2pqr. Using...

$ mkdir build
$ cd build
$ cmake -DENABLE_PYTHON=ON -DCMAKE_C_FLAGS="-fPIC" ..
$ cmake --build .

however it is unclear how the 'built' pdb2pqr is supposed to be installed. Certainly executing...

PYTHONPATH=propka31 python3.8 -m pytest

fails with...

/opt/local/bin/python3.8: No module named p

[2020-06-08 16:07] intendo commented on #603
@jwhowarth, it looks like you might not have pytest installed in your environment.

I am sorry that it is not very well documented. We are working on updating pdb2pqr and the documentation for it over the next month.

NOTE: You may want to create a python virtual environment for pdb2pqr.

You probably need to run the following command in your normal or virtual python environment:
[code]
That will

[2020-06-08 16:36] intendo commented on #601
This works great and made the CMakeLists.txt file so much easier to read and maintain. Thanks!

[2020-06-09 02:24] sobolevnrm commented on #601
Excellent!  Should we close the issue or are there other binaries to
address?

Thanks!

On Mon, Jun 8, 2020 at 9:37 AM Darren Curtis <notifications@github.com>
wrote:

[2020-06-09 04:56] intendo commented on #601
There are no other binaries or warnings from Github anymore. This issue was already closed. We just made it better.

[2020-06-09 12:36] sobolevnrm commented on #601
Nice -- thanks!

On Mon, Jun 8, 2020 at 9:56 PM Darren Curtis <notifications@github.com>
wrote:

[2020-06-12 07:17] sozenoid commented on #29
Hello,
I think there is still ambiguity in APBS 3.0.0 (that does not output energy units in the geoflow computation) and the definition of the keywords on the website. Are gamma and press given in kcal or kJ? Thank you very much for writing this code. I'm very grateful for it.

[2020-06-12 12:22] kozlac opened #604 "PDB2PQR Unable to load parameter file for forcefield"
PDB2PQR fails to find the `dat` folder when running from outside the source folder with error:
`
$ raise RuntimeError("Unable to load parameter file for forcefield %s" % args.ff)
`
`
$ RuntimeError: Unable to load parameter file for forcefield charmm
`

[2020-06-12 13:03] sobolevnrm commented on #604
Can you post the command you used to generate the error above?  I'm trying to reproduce the problem.

[2020-06-12 13:09] sobolevnrm opened #606 "Add units to geoflow input/output"
Hello,
I think there is still ambiguity in APBS 3.0.0 (that does not output energy units in the geoflow computation) and the definition of the keywords on the website. Are gamma and press given in kcal or kJ? Thank you very much for writing this code. I'm very grateful for it.

_Originally posted by @sozenoid in https://github.com/Electrostatics/apbs-pdb2pqr/issues/29#issuecomment-643111518_

[2020-06-12 13:09] sobolevnrm commented on #29
@sozenoid - thank you for the feedback.  I've created a new issue #606 that focuses on this problem.

[2020-06-12 13:10] #29 closed

[2020-06-12 14:50] intendo commented on #604
[code]

The problem is that the args.ff is a keyword (e.g. PARSE) and the code needs to find the file named PARSE.DAT and it looks in your path. One fix is to search for the file relative to the location of the python file looking for it.

[2020-06-12 16:29] sobolevnrm commented on #604
Got it.  Is PR https://github.com/Electrostatics/apbs-pdb2pqr/pull/605 the right way to fix this?  I wonder if it would be better to create some type of path-like variable higher up in the code that could be modified via config files and argparse to include additional paths.

In particular, I'm curious why this problem happens when running from the source distro and not after the code is built/ins

[2020-06-12 20:02] bisdan opened #607 "'PotentialBond' comparison raises TypeError"
Hello PDB2PQR Team,

during protonation with the flag --protonate-all the following TypeError is raised:

`apbs-pdb2pqr/pdb2pqr/pdb2pqr/utilities.py, line 26, in sort_dict_by_value:
items.sort()
TypeError: '<' not supported between instances of 'PotentialBond' and 'PotentialBond'`

Since you are sorting tuples at this point in the code this might be interesting to you: [https://stackoverflow.com/q

[2020-06-14 02:11] sobolevnrm opened #608 "Need regression tests for PEOE"
@intendo or @kozlac - would you be willing to develop some outputs for `PEOE` and `calcchi` as performing in PDB2PQR 2.1.1 https://github.com/Electrostatics/apbs-pdb2pqr/blob/433a1984a632b396bda11416b757d00e4ef5189e/pdb2pqr/pdb2pka/ligandclean/peoe_PDB2PQR.py ?  I'd like to develop some regression tests for the branch I'm working on.

Thank you!

[2020-06-14 19:17] sobolevnrm opened #609 "Attempt to standardize data and parameter file formats"
Too many data/parameter files in APBS/PDB2PQR use their own bespoke format, generating code bloat for parsing.  It would be good to standardize on a readable (e.g., not XML) format that has simple support through Python.  Possibilities include JSON (https://docs.python.org/3/library/json.html) or Python config format (https://docs.python.org/3/library/configparser.html).  Comments are a bit more s

[2020-06-15 17:13] intendo commented on #609
The ConfigParser allows comments which is great. The JSON config files do not allow comments or you have to parse them out before you read them.

[2020-06-16 17:43] kozlac opened #611 "PBAM Failing CTest"
PBAM is failing the CTests.

[2020-06-21 23:46] sobolevnrm opened #613 "PDB2PQR bond detection does not work correctly for triply fused rings"
See `tests/ligand_test.py::test_bad_rings` for example.

[2020-06-21 23:47] sobolevnrm opened #614 "PDB2PQR bond type does not work correctly for some bonds"
See `tests/ligand_test.py::test_bad_bonds` for examples.

[2020-06-25 00:01] arikat opened #615 "NotImplementedError: PDB2PKA not implemented."
Unsure why this error continuously pops up. After general installation of the program, I run the command:

`python3 pdb2pqr.py --ff PARSE --titration-state-method pdb2pka --pdb2pka-out temp/ /home/user/Desktop/tidy.pdb /home/user/Desktop/PDB2PQR/out_files/output.pqr`

The following error appears (log file attached). Unsure why this is the case. Any help would be appreciated.
[txt.txt](https://gith

[2020-06-25 01:28] sobolevnrm commented on #615
Hi --

This is the intended behavior for the current master.  Please use one of our releases (and associated tagged branches) instead:  https://github.com/Electrostatics/apbs-pdb2pqr/releases

Thank you,

Nathan

[2020-06-25 01:47] sobolevnrm opened #616 "Address user feedback on documentation"
- General usability of the software – starting with http://www.poissonboltzmann.org/, how difficult is it get up and running with useful biomolecular visualization?
    - I was not able to download the APBS and PDB software onto my laptop with Windows 10 and get it properly functioning, as I do not have experience with python and compiling codes. When I tried downloaded the software from the sourc

[2020-06-25 14:20] arikat commented on #615
I tried some of the other releases. However, they all appear to provide the same error. Is there a specific release you'd recommend? One of the recommendations in the code was to just use pka.py as a standalone script, but it has a number of dependencies in the release, and many of its imports no longer function properly. The read_pdb definition is no longer in pdb.py, for example, it's in input_o

[2020-06-25 14:38] sobolevnrm commented on #615
This release should work as expected:  https://github.com/Electrostatics/apbs-pdb2pqr/releases/tag/vPDB2PQR-2.1.1

We're actively working to fix the issues you described in the current release -- that's why we've disabled PDB2PQR in the master branch.  There was a lot of redundant and malfunctioning code that we are trying to clean up.

[2020-06-25 14:41] kozlac commented on #615
What python version are you using? You should use python 2.7 for releases <= 2.1.1.

[2020-06-25 14:47] arikat commented on #615
I have both, but Python 2.7 is what I'm using for those releases.

________________________

Aarya Venkat

Biochemistry PhD Student, Kannan Lab

Future Faculty Fellow

University of Georgia

https://arikat.github.io/

________________________________
From: Juan <notifications@github.com>
Sent: Thursday, June 25, 2020 10:41 AM
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Aa

[2020-06-25 14:55] kozlac commented on #615
@arikat If you are still seeing that error, can you provide is with OS, python version, which distribution (e.g. apbs-pdb2pqr-vPDB2PQR-2.1.1-release.tar.gz, apbs-pdb2pqr-vPDB2PQR-2.1.1-release.zip, etc.), how are you invoking pdb2pqr from the command line, and if possible the pdf file as well? Thanks!

[2020-06-25 15:16] arikat commented on #615
I used apbs-pdb2pqr-vPDB2PQR-2.1.1-release.tar.gz.

OS: Ubuntu 18

Python: 2.7

PDB: 1T8L (which we removed extraneous details like Remarks from)

Command line: python3 pdb2pqr.py --ff PARSE --titration-state-method pdb2pka --pdb2pka-out temp/ /home/user/Desktop/tidy.pdb /home/user/Desktop/PDB2PQR/out_files/output.pqr

Specifically we're trying to use the pdb2pka method. The regular pdb2pqr method

[2020-06-25 15:20] sobolevnrm commented on #615
@kozlac - could you please look into this?

[2020-06-25 17:49] kozlac commented on #615
Hello @arikat, a couple of things:

* You are using `python3` in your command line which invokes python 3.6 by default in Ubuntu 18.
* You are using arguments from the most recent version of pdb2pqr which is still in development (e.g. titration-state-method).

I downloaded [this version](https://github.com/Electrostatics/apbs-pdb2pqr/releases/download/vPDB2PQR-2.1.1/pdb2pqr-linux-bin64-2.1.1.tar.g

[2020-06-25 17:59] arikat commented on #615
Sorry, the python3 was a typo. I'll try this command thanks!

________________________

Aarya Venkat

Biochemistry PhD Student, Kannan Lab

Future Faculty Fellow

University of Georgia

https://arikat.github.io/

________________________________
From: Juan <notifications@github.com>
Sent: Thursday, June 25, 2020 1:49 PM
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Aarya Ve

[2020-06-25 18:14] arikat commented on #615
This command worked, thank you!

________________________

Aarya Venkat

Biochemistry PhD Student, Kannan Lab

Future Faculty Fellow

University of Georgia

https://arikat.github.io/

________________________________
From: Juan <notifications@github.com>
Sent: Thursday, June 25, 2020 1:49 PM
To: Electrostatics/apbs-pdb2pqr <apbs-pdb2pqr@noreply.github.com>
Cc: Aarya Venkat <aarya@uga.edu>; Mention

[2020-06-25 18:26] kozlac commented on #615
Great!

[2020-06-25 18:26] #615 closed

[2020-06-27 17:14] sobolevnrm opened #617 "Document PIP installation behavior of PDB2PQR"
Is this documented anywhere?  If not, can we add the documentation?

Note that for development, we probably want to suggest `pip install -e .`.

_Originally posted by @sobolevnrm in https://github.com/Electrostatics/apbs-pdb2pqr/pull/605#issuecomment-650587109_

[2020-06-27 18:56] sobolevnrm opened #619 "Move PDB2PQR back to its own repo?"
Since PDB2PQR is now its own package -- thanks to @kozlac -- I wonder if we should move it back to its own repo.  It would make it *much* easier to release via PyPI and could simplify the APBS installation process and repo.

What do you think?  I'd love to envision a future where someone could `pip install apbs` and automatically grab pdb2pqr and propka as dependencies.  Making PDB2PQR discoverabl

[2020-06-27 20:02] sobolevnrm opened #620 "Modernize API documentation"
Attempt to modernize API documentation--at least for PDB2PQR.

[2020-06-28 17:45] sobolevnrm opened #621 "Mysterious PDB2PQR error with 1US0"
Hi @Eo300 --

I can reliably get the PDB2PQR web interface to generate the error "Failed - Loading Job Data: Error" with https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/pdb2pqr/tests/data/1US0-ligand.mol2 and https://github.com/Electrostatics/apbs-pdb2pqr/blob/master/pdb2pqr/tests/data/1US0.pdb.

No other error message is provided so I can't troubleshoot.  Can you please look into this?

[2020-06-29 12:55] sobolevnrm commented on #619
There may be a way to move over the git history and prune out the APBS history to keep the archive size reasonable.

[2020-06-29 17:01] #592 closed

[2020-06-29 18:10] intendo commented on #619
Following the instructions on https://help.github.com/en/github/using-git/splitting-a-subfolder-out-into-a-new-repository, we could create a repository for apbs and pdb2pqr by splitting them. They would each have their respective histories intact (at least from their top level directory).

I created a new empty repository for pdb2pqr (https://github.com/Electrostatics/pdb2pqr) using the following:

[2020-06-29 18:16] sobolevnrm commented on #619
Hi @intendo -- wow!  Thanks for moving this over.  However, now I'm confused:  was this an existence proof or an actual migration of the repo?  If the latter, we need to figure out what to do with the code in the main apbs-pdb2pqr repo.  We can transfer issues but I'm unsure how to move branches given the differences between repositories.  However, these repos are going to get out of sync very qui

[2020-06-29 18:59] intendo commented on #619
This was proof that it can be done. Branches on apbs-pdb2pqr can be pushed to the new pdb2pqr repo and then deleted.
I think the procedure is:
  # go to your directory where your current apbs-pdb2pqr repo is
  # checkout the branch you want to push (e.g. nathan/pdb2pka)
  git remote add pdb2pqr https://github.com/Electrostatics/pdb2pqr
  git push pdb2pqr
  # repeat for all your branches you want t

[2020-06-30 00:30] sobolevnrm commented on #619
I love the forward-leaning nature of this and think we should proceed -- you took a huge jump I was hesitating on and made the right move.

Here are my thoughts on some next steps:

* [ ] @sobolevnrm and @intendo transfer relevant issues to the new repo
* [ ] @sobolevnrm squats on pdb2pqr PyPI package name
* [ ] @sobolevnrm moves any remaining branches to the new repo (probably with manual diffs b

[2020-06-30 15:27] intendo commented on #619
My thoughts were to:
- [ ] split out pdb2pqr into a new repository for new organization/development.
- [ ] split out (or duplicate and then git delete) apbs into a new repository for new organization/development
- [ ] leave apbs-pdb2pqr for maintenance of APBS-PDB2PQR 3.0 release

[2020-06-30 15:48] sobolevnrm commented on #619
That works for me *if* we leave the `apbs-pdb2pqr` repo HEAD mostly empty with a README.md that points to the new locations.  The release was tagged and will still be available in the archive but I don't want to create confusion by duplicating code in different repos.  What do you think?

[2020-06-30 16:04] intendo commented on #619
That works for me too. I have started moving pdb2pqr issues to the new repo.

[2020-07-01 11:58] aritzroa opened #623 "Positive potential on hydrophobic protein interfaces"
Hi all,

I am using the APBS plugin in PyMol and when I use it to calculate the electrostatic potential of a complex I get a positive electrostatic potential in an interface between two of the protein chains. However, the residues are hydrophobic and if I run them separately this same region is completely neutral. Can it be because both interfaces are too close and the APBS program does not manage

[2020-07-01 13:55] speleo3 commented on #623
Can you attach your input files?

[2020-07-02 16:13] aritzroa commented on #623
So I think I found out the reason after all. I can get more precise result by reducing the grid spacing. It is still not optimal, but I guess it is related to a difficulty of the programme to properly estimated two close surfaces based on the grid spacing. It is not possible for my computer go down from 0.2 but it improves. At the end I think the choice would be running the APBS of each protein se

[2020-07-03 01:31] sobolevnrm commented on #623
Hi @aritzroa -- that makes sense.  I typically recommend grid spacings of 0.2 Å or lower for calculations that require quantitative results or detailed analysis.  Thanks.

[2020-07-03 01:31] #623 closed

[2020-07-03 01:46] #600 closed

[2020-07-03 02:27] sobolevnrm commented on #543
See #619 -- this will happen with conversion of `pdb2pqr` and `apbs` to Python packages.

[2020-07-03 02:32] #504 closed

[2020-07-03 02:35] #416 closed

[2020-07-03 18:11] sobolevnrm opened #624 "Remove PDB2PQR code from this repo"
Just `git rm` not `git filter-branch`.  Need to resolve https://github.com/Electrostatics/pdb2pqr/issues/49 first.

[2020-07-03 18:29] sobolevnrm opened #626 "Create separate apbs repo"
* [x] Transfer code to the new repo (see below)
* [x] Transfer relevant issues to the new repo
* [x] Transfer relevant branches to the new repo
* [x] Transfer relevant tags and releases to the new repo
* [x] Remove APBS code (with `git delete` not `git filter-branch`) from this repo -- moved to https://github.com/Electrostatics/apbs-pdb2pqr/issues/628
* [x] Make sure the same people have access to

[2020-07-03 18:31] sobolevnrm commented on #619
This thread is too messy:  I've put the APBS-specific tasks in https://github.com/Electrostatics/apbs-pdb2pqr/issues/626 and moved the PDB2PQR-specific tasks over to https://github.com/Electrostatics/pdb2pqr/issues

[2020-07-03 18:31] #619 closed

[2020-07-03 20:31] #569 closed

[2020-07-03 20:42] #547 closed

[2020-07-03 20:43] #543 closed

[2020-07-04 23:24] sobolevnrm opened #627 "Update README.md and documentation for this repo"

[2020-07-04 23:25] sobolevnrm opened #628 "Remove APBS code from this repo"
Remove APBS code (with git delete not git filter-branch) from this repo

[2020-07-04 23:26] #626 closed

[2020-07-05 00:35] sobolevnrm commented on #627
Probably should move documentation that is not specific to either APBS or PDB2PQR to https://github.com/Electrostatics/electrostatics.github.io

[2020-07-05 15:36] #628 closed

[2020-07-05 15:36] #624 closed

[2020-07-08 19:53] PedroOverde opened #631 "Problems Compiling APBS 3.0"
Hello,

I am trying to compile APBS 3.0 under Centos 7 using cmake 3.17. The process simply dies with a message that does not tell me much about what is happening.

This is what I did:
1) Downloaded the source code for Linux
2) Expanded the tgz file
3) Went into the apbs directory
4) Tried to compile with cmake path_to_apbs_directory

At this point the process dies with a message "Configuring inco

[2020-07-09 02:15] sobolevnrm commented on #631
Hi @PedroOverde -- thank you for trying out the code.  I'm sorry you experienced problems with this.  @intendo would you be willing to look into this?

[2020-07-09 13:46] rubadub commented on #631
Hi, I think some components of APBS 3.0 need a newer version of gcc than
what is installed by default on Centos 7 (4.8.5). The compilation works fine with gcc version 7.3 when installed via SCL.

[2020-07-09 21:45] intendo commented on #631
@PedroOverde, I apologize for the problems. I think you might be missing the `git submodule init` and `git submodule update` commands documented in the apbs/README.md. Those commands will connect all the external source code repositories.

@rubadub is correct that you will need a newer version of GCC or CLANG that supports C++11.

I have a script that I use to build APBS that I keep in the apbs so

[2020-07-10 00:22] PedroOverde commented on #631
Hello @intendo
Thanks for the response. I was able to compile the program by downloading the FETK package from https://github.com/Electrostatics/FETK/tree/0c6fdeabe8929acea7481cb1480b5706b343b7e0 and copying the contents of he package to the apbs/externals/fetk directory. After this, cmake and make did not have any issues and executables were produced. So, this is good but I guess it is not how it

[2020-07-10 05:43] intendo commented on #631
@PedroOverde I am afraid that we may have accidentally destroyed the apbs and pdb2pqr directories from the master branch. We are in the process of making apbs and pdb2pqr separate repositories.

You may need to do the following procedure:
[code]
You should see the apbs and pdb2pqr subdirectories and then you can use the script I provided above.

Please let us know if this works for you or not. If

[2020-07-10 18:23] PedroOverde commented on #631
@intendo I was able to partially compile APBS. The following options had to be turned OFF for the compilation to proceed:
-DENABLE_PYTHON

when it is ON I get multiple errors of this form in the make:

/usr/bin/ld: /usr/local/lib/libpython3.7m.a(abstract.o): relocation R_X86_64_32S against symbol `_Py_NotImplementedStruct' can not be used when making a shared object; recompile with -fPIC

and the

[2020-07-10 18:59] rubadub commented on #631
@PedroOverde I see that you closed the issue but for future reference for people compiling this on Centos 7.7:

- -DENABLE_PYTHON=ON requires also -DCMAKE_C_FLAGS="-fPIC"

- -DENABLE_PBAM and -DENABLE_PBSAM require gcc version 4.9.0 or newer which fully supports the complete C++11 standard. Centos 7.7 comes with gcc 4.8.5

[2020-07-10 20:12] PedroOverde commented on #631
Oops! I closed this by mistake. Still new to the system. Sorry about that.

I am almost there!
I was able to compile with options -DENABLE_PBAM=ON and -DENABLE_PSAM=ON by adding the flag --std=gnu99 to -DCMAKE_C_FLAGS, This enables the C++11 options in gcc

the -fPIC does not work for me when compiling with -DENABLE_PYTHON=ON. I still get the same error despite of having -DCMAKE_C_FLAGS="-fPIC"

A

[2020-07-11 01:35] sobolevnrm commented on #631
FWIW, I think we intentionally destroyed those directories to make way for the refactoring you mentioned...

[2020-07-14 21:36] intendo commented on #631
@sobolevnrm is this closed issue then?

[2020-07-14 22:02] sobolevnrm commented on #631
I would like @PedroOverde to let us know if this is resolved for him before closing.

[2020-07-27 00:18] #627 closed